# Flask Configuration
IP=0.0.0.0
PORT=5000 #standard port for Flask
DEBUG=False #NB set False for production, True for dev
SECRET_KEY=<your-secret-key-here> #Self-generated
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=True

# MongoDB Application Credentials (used by Flask app - least privilege)
MONGO_APP_USERNAME=<your-username>
MONGO_APP_PASSWORD=<your-strong-app-password>

# MongoDB Configuration
MONGO_URI=mongodb://<your-username>:<your-strong-app-password>@<your-mongo-cluster>:27017/<your-database-name>?authSource=<your-database-name>
MONGO_DBNAME=<your-database-name>

# Cloudinary Configuration
CLOUD_NAME=<your-cloudinary-cloud-name>
API_KEY=<your-cloudinary-api-key>
API_SECRET=<your-cloudinary-api-secret> #Self-generated
CLOUDINARY_BASE=https://res.cloudinary.com/<your-cloud-name>/image/upload/<cloudinary-location>/

# Gmail Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=<your-email>@gmail.com
MAIL_PASSWORD=<your-app-specific-password>

# Custom Configuration
BASE_URL=127.0.0.1:5000/ #NB this is either your localhost in dev (as here) or the deployed at URL in production (do not include https:// etc)
