/*universal*/

@font-face {
    font-family: title;
    src: url("../fonts/CfDavesDreamPersonalRegular-WyAGn.ttf");
    font-display: swap;
}
.not-displayed {
    display:none
}
.red-text {
    color:red;
}
a, a:visited, a:link, a:active, a:hover  {
    text-decoration:none;
}

body {
    background-color: black;
    color:white; 
}

.absolutely-hidden {
    position:absolute;
    left:-2000000px
}




#main-template-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/backgrounds/cloud-background-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
    width: 392px;
    height: 135px;
    color:black;
    border: 10px solid black;
}

.delete-alert {
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height:265px;
    z-index: 1000;
    text-align:center;
    background-color:#000000;
    align-items:center;
    border: ridge #5E3D00 3px;
    padding:10px;
    color: white;
}

/*landing page */
#landing-container {
    background-color: black;
    color:white;    
    width:100%;
    height:100%;
    padding:0;
    margin :0;
    text-align:center;
}

#landing-main{
    margin:auto;
    position:relative;
    width:900px;
    height:639px;
    background-size: auto 100%;
    background-image: url("../images/backgrounds/landinghad.svg")
}

#blurb-wrapper {
    position:absolute;
    left:0px;
    top:280px;
    bottom:50px;
    width:400px;
}

#landing-image img {
    width:300px;
    margin:auto;
}

.headline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/backgrounds/cloud-background-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 180px;
    color:black;
    font-family: title;
}
#landing-buttons {
    display:flex;
    flex-flow:column;
    align-items: center;
}

#sign-in-form {
    text-align:center;
}

.label {
    text-align:right;
}
.landing-button, .signup-button {
    background-color: white;
    color: black;
    border: black 1px solid;
    width:100px;
    height:20px;
    text-align:center;
    margin:4px 0;
}

.button-large {
    width:400px;
}

.button {
    background-color: white;
    color: black;
    border: black 1px solid;
}
.landing-button:hover, .button:hover, .signup-button:hover {
    background-color: black;
    color: white;
    border: white 1px solid;
}

.form-table {
    border-spacing:5px;
}


/*sign-up user journey*/
#interests, #skills, #experiences {
    width:70%;
}
#welcome-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 200px;
}
#explore, #profile-preview {
    flex:1;
}
#profile-preview p{
    display:flex;
    align-items:center;
}

#signup-section, #dreambuild-container {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#signup-section form {
    margin-top: 20px;
}

#signup-title-wrapper {
    width: 100%;
    height: 120px;
}

#signup-one {
    position: relative;
    display:flex;
    flex-flow:row;
    align-items:center;
    justify-content:center;
    margin:auto;
    width:70%;
}

#bunny-right {
    display:flex;
    justify-content: right;
    flex:1;
}
#bunny-right img {
    width:110px;
}

#personal-section {
    display:flex;
    flex-flow:column;
    justify-content: center;
    flex:4;
}

#personal-headline, #interests-headline {
    color: white;
    border: 5px solid white;
    border-radius: 6px;
    margin-bottom: 20px;
} 
#personal-headline {
    background-color:rgb(45, 143, 122);
}
#interests-headline {
    background-color:rgb(131, 16, 121);
    margin-top:20px;
}
  
#interests-section {
    text-align: center;
}

#interests-section button {
    font-size: 120%;
    width: 200px;
    padding: 7px;
    margin: 7px;
    text-align: center;
}

.category-selector, .category-deselector {
    padding:5px;
    display:inline-block;
    margin: 5px;
    width: 100px;
    text-align: center;
}

.category-selector {
    background-color: grey;
    color: black;
    border: 2px grey solid;
}

.category-deselector {
    background-color: green;
    color: white;
    border: 2px white solid;
}

/*general template*/

#feed-container {
    margin:30px 100px;
}

#title-section {
    display: flex;
    justify-content: space-between;
}
#main-section {
    display:flex;
    margin:50px 0;
}
#left-sidebar {
    display:flex;
    flex-flow:column;
    flex:1;
}

#left-sidebar img {
    margin: 10px 0;
}
#main-content{
    flex:5;
    border: 5px solid black;
}

.page-menu {
    display:flex;    
    justify-content: space-around;
    text-align:center;
}

.page-menu-option {
    flex:1;
    color:black;
}

.page-menu-selected, .page-menu-option:hover {
    background-color:black;
    color:white;
}

#desktop-search {
    display:flex;
}

#active-page {
    border: 5px solid black;
}
.profile-update {
    width: 75%;
}
.preferences-section {
    text-align: center;
}

/* Profile Pages */
/* General */


/*Dreamscape*/

.dream-general {
    display:flex;
}

.dream-info {
    display:flex;
    flex-direction: column;
}

.dream-image.img{
    width:400px;
}

#focussed-dream:focus {
    outline: none;
}

.comment-box {
    width: 70%;
}

.comment-comment {
    resize:none;
    width:70%;
}

.edit-comment {
    display:inline-block;
}

.comment-header {
    position:relative;
}

/*categories*/
#admin-new-categories {
    margin: 5px 0;
    width:800px;
}

/* DREAMS PAGE */
.delete-dream-alert, .delete-comment-alert {
    display:none;
}

.delete-dream, .delete-comment {
    display:inline-block;

}