/*universal*/
.not-displayed {
    display:none
}
.red-text {
    color:red;
}
a, a:visited, a:link, a:active, a:hover  {
    text-decoration:none;
}

body {
    background-color: black;
    color:white; 
}

/*landing page */
#landing-container {
    background-color: black;
    color:white;    
    width:100%;
    height:100%;
     padding:0;
     margin :0;
}

#landing-image {
    display:flex;
    align-items: center;
    margin:20px 0 ;
}

#landing-image img {
    width:400px;
    margin:auto;
}

#headline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/backgrounds/cloud-background-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 180px;
    color:black;
}
#landing-buttons {
    display:flex;
    flex-flow:column;
    align-items: center;
}

#sign-in-form {
    text-align:center;
}

.label {
    text-align:right;
}
.landing-button, .signup-button {
    background-color: white;
    color: black;
    border: black 1px solid;
    width:100px;
    height:20px;
    text-align:center;
    margin:4px 0;
}

.button {
    background-color: white;
    color: black;
    border: black 1px solid;
}
.landing-button:hover, .button:hover, .signup-button:hover {
    background-color: black;
    color: white;
    border: white 1px solid;
}

.form-table {
    border-spacing:5px;
}


/*sign-up user journey*/
#interests, #skills, #experiences {
    width:70%;
}
#welcome-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 200px;
}
#explore, #profile-preview {
    flex:1;
}
#profile-preview p{
    display:flex;
    align-items:center;
}

#signup-section {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
}

#signup-section form {
    margin-top: 20px;
}

#signup-one {
    display:flex;
    display:flex;
    flex-flow:column;
    align-items:center;
}

/*general template*/

#feed-container {
    margin:30px 100px;
}

#title-section {
    display: flex;
    justify-content: space-between;
}
#main-section {
    display:flex;
    margin:50px 0;
}
#left-sidebar {
    display:flex;
    flex-flow:column;
    flex:1;
}

#left-sidebar img {
    margin: 10px 0;
}
#main-content{
    flex:5;
    border: 5px solid black;
}

.page-menu {
    display:flex;    
    justify-content: space-around;
    text-align:center;
}

.page-menu-option {
    flex:1;
    color:black;
}

.page-menu-selected, .page-menu-option:hover {
    background-color:black;
    color:white;
}

#desktop-search {
    display:flex;
}

.active-page {
    border: 5px solid black;
}
.profile-update {
    width: 75%;
}
.preferences-section {
    text-align: center;
}

/* Profile Pages */
/* General */


/*Dreamscape*/

.dream-general {
    display:flex;
}

.dream-info {
    display:flex;
    flex-direction: column;
}

.dream-image.img{
    width:400px;
}

#focussed-dream:focus {
    outline: none;
}

.comment-box {
    width: 70%;
}

.comment-comment {
    resize:none;
    width:70%;
}

.edit-comment {
    display:inline-block;
}