/*universal*/

@font-face {
    font-family: title;
    src: url("../fonts/CfDavesDreamPersonalRegular-WyAGn.ttf");
    font-display: swap;
}

@font-face {
    font-family: main;
    src: url("../fonts/OpenSans-BoldItalic.ttf");
    font-style: italic;
    font-style: bold;
}
@font-face {
    font-family: main;
    src: url("../fonts/OpenSans-Bold.ttf");
    font-style: bold;
}
@font-face {
    font-family: main;
    src: url("../fonts/OpenSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: main;
    src: url("../fonts/OpenSans-Regular.ttf");
}

textarea {
    color:white;
    background-color:black;
    height: auto;
    resize:none;
    outline: none;
    font-family: main;
    font-size:90%;
}
h1,h2,h3,h4 {
    margin: 0;
    padding:0;
}
h1 {
    font-size:250%;
}
.not-displayed {
    display:none
}
.red-flash {
    color:red;
}
.green-flash {
    color:green;
}
.red-flash-reset {
    color:red;
}
.green-flash-reset {
    color:green;
}
.amber-flash-reset {
    color:orange;
}
.amber-flash {
    color:orange;
}
 
#comment-flash {
    border:none;
    text-align:left;
    padding:0;
    margin-bottom:10px;
    font-style: bold;
}

#large-flash {
    font-size:120%;
    text-align:center;
}
.signup-flash {
    margin-bottom:10px;
}
.other-flash {
    margin-bottom:20px;
}
.landing-flash {
    margin-top:20px;
}

.dream-flash {
    width:100%;
    padding-top:10px;
    margin:10px 0 20px 0;
    border-top:5px solid #0091ffff;
}
.dreams-flash {
    margin-top: 20px;
}


a, a:visited, a:link, a:active, a:hover, a:focus  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}
body {
    background-color: black;
    color:white;
    font-family:main;
}
.absolutely-hidden {
    position:absolute;
    left:-2000000px
}

.delete-alert {
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 650px;
    height:175px;
    z-index: 1000;
    text-align:center;
    background-color:#000000;
    align-items:center;
    padding:20px;
    color: white;
}
.delete-cancel, .delete-confirm {
    display: inline-block;
    width:100px;
    cursor:pointer;
    border:2px solid white;
    border-radius:4px;
    padding:2px;
}
.delete-cancel {    
    background-color:rgb(49, 7, 7);
    margin-left:10px;
}

.delete-confirm {
    background-color:rgb(58, 73, 69);
    margin-right:10px;
}

.delete-cancel:hover {
    display: inline-block;
    background-color:rgb(172, 3, 3);
}

.delete-confirm:hover {
    background-color:green;
}

.alarm-text h3 {
    color:rgb(248, 48, 48)
}
#dreamscape-comments p{
 margin:20px;
}

.comments-delete-alert {
    display:none;
    border:5px ridge #e4ff00ff;
    border-radius:6px;

}

/*LANDING PAGE*/

/*landing page */
#landing-container {
    display:flex;
    flex-direction: column;
    padding:0;
    margin: 50px auto;
    width: 900px;
    text-align:center;
}
#landing-top {
    display:flex;
    align-items:start;
    justify-content:space-between;
    margin: 0 50px;
}
#landing-main{
    display:flex;
    justify-content:space-between;
    position:relative;
    margin: 0 50px;
}
#blurb-wrapper {
    margin-top: 25px;
    width:400px;
}
#sun-left img {
    width: 150px;
}
#landing-tree-right img{
    width:250px;
}

.headline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/backgrounds/cloud-background-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
    width: 392px;
    height: 135px;
    color:black;
    font-family:title;
}

#landing-buttons {
    display:flex;
    flex-flow:column;
    align-items: center;
    color:black;
}

#sign-in-form {
    text-align:center;
}

.label {
    text-align:right;
    color:white;
}

.signin-link {
    cursor:pointer;
    background-color: white;
    color:black;
    border: black 1px solid;
    width:100px;
    text-align:center;
    margin:4px 0;
    padding:2px;
    font-size: 100%;
    font-family:main;
}
#sign-in {   
    width:112px;
}
.button-large {
    width:400px;
}
.signin-link:hover, #sign-in:hover {
    background-color: black;
    color: white;
    border: white 1px solid;
}
.form-table,.form-table-builder {
    border-spacing:15px;
}

.form-table input {
    outline: 1px solid black;
    border: 1px solid white;
    background-color: white;
    padding:3px;
}


.form-table input:focus {
    outline: 1px solid #ff6866ff;
    border: 1px solid #ff6866ff;
    background-color: white;
}

.signin-buttons {
 display:flex;
 justify-content:center;
 margin:10px;
}


/*sign-up user journey*/

#welcome-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 200px;
}
#explore, #profile-preview {
    flex:1;
}
#profile-preview p{
    display:flex;
    align-items:center;
}
#signup-section, #dreambuild-container {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}
#signup-section form {
    margin-top: 20px;
}
#signup-title-wrapper {
    width: 100%;
    height: 120px;
}
.signup-table {
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content:center;
     
}

#bunny-right img, #bunny-left img{
    width:100px;
}

.banner-headline {
    color: white;
    border: 4px solid white;
    border-radius: 6px;
    margin-bottom: 20px;
    margin:auto;
    padding:7px;
    text-align:center;
}
.banner-headline h2 {
    line-height:110%;
}

#personal-headline {
    background-color:#ff6866ff;
    margin:20px 0;
}
#interests-headline {
    background-color:#ff6866ff;
    margin-top:20px;
}
.show-additional {
    background-color:rgb(58, 73, 69);
}
.show-fewer-style {
    background-color:rgb(59, 46, 52);
}
.show-additional, .show-fewer-style {
    cursor: pointer;
    border: 3px solid white;
    border-radius: 6px;    
    width: 300px;
    margin:auto;
    margin-bottom: 15px;
}
.show-additional:hover {
    background-color:rgb(67, 109, 64);
    cursor: pointer;
}
.show-fewer-style:hover {
    background-color:rgb(114, 52, 52);
    cursor: pointer;
}

.show-additional i, .show-fewer-style i{
    margin: 0 10px;
}
#interests-section, #explore {
    text-align: center;
    width:100%;
    margin:10px auto;
}
#explore {
    margin: 0 200px ;
    border-bottom: 5px solid #ff6866ff;
}
.create-button {
    color:white;
    background-color:rgb(58, 73, 69);
    cursor:pointer;
    border: 2px solid white;
    padding:10px;
    font-size: 120%;
    width:160px;
    margin-right:20px;
    margin-top:20px;
}

.create-button:hover {
    background-color:green;
}

.abandon-button {
    background-color:rgb(49, 7, 7);
    cursor: pointer;
    border: 2px solid white;
    padding:7px;
    padding-bottom:8px;
    font-size: 120%;
    width:200px;
    margin-top:20px;
}

.abandon-button:hover {
    background-color:rgb(172, 3, 3);
}

#journey-buttons {
    margin-top:10px;
}

.dreambuild-buttons {
    border-top: 5px solid #0091ffff;
}
.signup-buttons {
    border-top: 5px solid #ff6866ff;
}

#welcome-headline {
    margin:10px auto 20px auto;
}

#welcome-exit-buttons {
    display: flex;
    align-items:center;
    justify-content:center;
}
 #profile-section {
    justify-content:space-between;
    align-items: start;
    width:70%;
 }
 #profile-section h4{
    width:220px;
    text-align:center;
    border-bottom:2px solid #ff6866ff;
    padding-bottom:4px;
    margin:auto;
 }

 #profile-info input{
    color:white;
    padding:5px;
    font-size: 100%;
    outline:1px;
    border:1px dotted #ff6866ff;
    background-color:black;
 }

 #profile-info input:focus{
    outline:1px solid #ff6866ff;
    border:1px solid #ff6866ff;
    background-color:black;
 }
 #profile-info input[type='checkbox'] {
    outline:none;
    border:none;
    accent-color:#ff6866ff;
    color:white;
    cursor: pointer;
 }
 .pass-change{
    font-size:105%;
 }
 #profile-pass-change {
    color:#ff6866ff;
    text-decoration:underline;
 }

 #profile-pass-change:hover {
    color: rgb(77, 28, 27);
    text-decoration:underline;
 }

.profile-layout input[type="file"]::file-selector-button { 
    background-color: rgb(77, 28, 27);
}
.profile-layout input[type="file"]::file-selector-button:hover {
    background-color: #ff6866ff;
}


/*create dream user journey*/

.dreambuild-form {
    width: 100%;
    margin: 0 auto;
}
#dreambuild-image-wrapper {
    display:flex;
    flex-flow:column;
    align-items:center;
    width:100%;
    border-top: 5px solid #0091ffff;
    margin: 20px 0; 
}
#warning-message {
    margin: 10px 0;
    color: red;
    font-size: 110%;
    margin: auto;
    text-align:center;
}
#dreambuild-container {    
    margin:30px 200px;
}
#dream-image-top {
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:75%;
    margin-top:20px;
}
.dreambuild-image-form {    
    width:100%;
    border-bottom: 5px solid #0091ffff;
    padding-bottom: 20px;
}
.blue-box input  {
    width: 17px;
    height: 17px;
    accent-color: #0091ffff;
    cursor: pointer;
}

#dreambuilder-headline {
    margin-top:10px;
    width: 319px;
    height: 110px;
}

#journey-buttons-dream {
    border-top: 5px solid #0091ffff;
    margin-top:10px;
}

#dream-headline {
    margin-top:20px;
    background-color:#0091ffff;
}

#category-headline {
    background-color:#0091ffff;
    margin-top:20px;
}

.cloud img{
    width:100px;
}
.personal-section {
    display:flex;
    width:90%;
    justify-content: space-between;
    align-items:start;
    margin:20px auto;
}
#dream_name {
    font-size: 95%;
    outline:none;
    background-color: black;
    color:white;
    width:400px;
    padding:5px;
    margin:5px;
}
#dream_description {
    width:400px;
    height:60px;
    font-size: 95%;
    margin-left:5px;
    padding:5px;
}

#tree-left img, #tree-right img, #tree-center img {
    width: 75px;
}
.image-layout {
    text-align:center;
    overflow:hidden;
}

.image-layout label {
    display:block;
    margin-bottom:10px;
}

.image-layout img {
    text-align:center;
    margin-top:20px;
    width:200px;
}

.profile-layout img {
    height:200px;
    object-fit: cover;  
}

.image-layout input[type="file"]::file-selector-button {
    font-size: 120%;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    margin-left: 50px;
    margin-right:16px;
    padding: 3px 8px;
    border-radius: 4px;
}

.dream-layout input[type="file"]::file-selector-button { 
    background-color: rgb(6, 28, 46);
}
.dream-layout input[type="file"]::file-selector-button:hover {
    background-color: #0091ffff;
}

#dream-image-uploads {
    margin-top: 5px solid #0091ffff;
    display:flex;
    justify-content:center;
    align-items: center;
}

.upload-dream-image {
    background-color:rgb(58, 73, 69);
    color:white;
    border:2px solid white;
    width:120px;
    padding:6px 5px 4px 5px;
    font-size:100%;
    cursor: pointer;
    margin:20px 10px 0 0;
}
.cancel-dream-image {
    text-align:center;
    background-color:rgb(49, 7, 7);
    border:2px solid white;
    width:110px;
    padding:3px;
    font-size:100%;
    cursor: pointer;
    margin:20px 0 0 10px;
}
.cancel-dream-image:hover {
    background-color:red;
}
.upload-dream-image:hover {
    background-color:green;
}

.later-button {
    display:block;
    margin:20px auto;
    background-color: #0091ffff;
    border:2px solid white;
    width:220px;
    border-radius: 6px;
    padding:3px 0;
    font-size:120%;
}

.later-button:hover {
    display:block;
    margin:20px auto;
    background-color: rgb(6, 28, 46);
}


.main-alert {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.main-alert img {
    width:100px;
}

.alarm-text {
    margin: 10px;
}


/*welcome page*/

#congratulations {
    padding: 10px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:85%;
    margin:30px auto;
    text-align:center;
    border-top: 5px solid #ff6866ff;
    border-bottom:5px solid #ff6866ff;
}
.grass-width {
    background-image: url("../images/backgrounds/grass.svg");
    background-size: auto 100%;
    width:100%;
    height:25px;
    margin:0 auto 20px auto;
}
#congratulations img {
    margin:0 20px;
    width:80px;
}
#star-left {
    margin-left:150px;  
}

#star-right {
    margin-right:150px;
}
#dreamscape-intro, #dream-intro {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 30px;
}
.welcome-main {
    display:flex;
    flex-direction:column;
    text-align:center;
    margin:auto;
    width:85%;
}
#dreamscape-intro-left img, #dreamscape-intro-right img {
    width:75px;
}
#dreamscape-intro-left {
    margin-right: 50px;
}
#dreamscape-intro-right {
    margin-left: 50px;
}

#dreamscape-button {
    margin: 10px auto;
    display:block;
    width:40%;
    font-size: 120%;
    padding:10px;
    font-weight:bold;
}

.exit-button {
    cursor: pointer;
    text-align:center;
    width:300px;
    border:2px solid white;
    padding:7px;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 110%;
}

#create-dream-exit {
    margin-right: 20px;
    background-color: rgb(6, 28, 46);
    
}
#create-dream-exit:hover{
    background-color: #0091ffff;
}

#dreamscape-exit {
    margin-left: 20px;
    background-color:rgb(59, 49, 0);
}

#dreamscape-exit:hover {
    background-color: #e4ff00ff;
    border: 2px solid rgb(59, 49, 0);
    color:rgb(59, 49, 0);
}



/*general template*/
#dreams-icon-container, #dreamscape-icon-container, #profile-icon-container {
    padding:0;
    margin:0;
}
#main-navigation {
    position:relative;
}

#feed-container {
    margin:30px 200px;
}
#title-section {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#main-section {
    display:flex;
    margin:50px 0;
}
#nav-list li {
    display: inline-block;
    margin: 0 10px;
}
#nav-list img {
    display:block;
    width: 125px;
    margin:0;
    padding:10px;
}
#main-content{
    position:relative;
    margin-bottom:200px;
}
.page-menu {
    display:flex;    
    justify-content: space-around;
    text-align:center;
}
.page-menu-option {
    flex:1;
    color:black;
}
.page-menu-selected, .page-menu-option:hover {
    background-color:black;
    color:white;
}
.profile-update {
    width: 75%;
}
.preferences-section {
    text-align: center;
}
.menu-icon {
    position:relative;
    font-family:title;
    border-style:solid;
    border-width: 5px;
    border-color:black;
    padding:5px;
    padding-bottom:2px;

}

#dreams-caption, #dreamscape-caption, #profile-caption, #dreams-icon, #dreamscape-icon, #profile-icon {
    cursor: pointer;
}

#dreams-caption {
    position:absolute;
    top:46px;
    left:45px;
}

#dreamscape-caption {
    position:absolute;
    top:60px;
    left:53px;
}

#profile-caption {
    position:absolute;
    top:35px;
    right:25px;
}







/*Dreamscape*/

.like-dislike-section {
    text-align:center;
    min-width:75px;
    margin-left:10px;
}

.dream-info p {
    margin:0;
    padding:0;
}

#feed-image {
    width:300px;
}

#no-dreams {
    text-align:center;
}
#no-results-name {
    width:100%;
    text-align:center;
    line-height:120%;
    padding-bottom:10px;
    border-bottom:2px solid #e4ff00ff;
}
#profile-visit{
    margin:0 auto 20px auto;
    padding:5px;
    width:200px;
    border: 2px white solid;
    background-color: rgb(77, 28, 27);
    cursor: pointer;
    border-radius:6px;
}

#profile-visit:hover {
   background-color: #ff6866ff;
}

.show-hide-comments {
    display:flex;
    align-items:center;
    justify-content:center;
}

.show-hide-comments i {
    padding-top:1px;
    margin-left:15px;
    font-size:140%;
    cursor: pointer;
}

.show-hide-comments i:hover {
    color: #e4ff00ff;
}
#dreamscape-feed-container {
    border: 5px inset rgb(34, 34, 34);
    background-color:rgb(20, 20, 20);
    padding: 50px 100px;
}
.dream-general {
    background-color:black;
    display:flex;
}

.dream-info {
    display:flex;
    flex-direction: column;
}

.dream-image.img{
    width:400px;
}

#focussed-dream:focus {
    outline: none;
}

.comment-box {
    width: 70%;
}

.comment-comment {
    resize:none;
    width:70%;
}

.edit-comment {
    display:inline-block;
}

.comment-header {
    position:relative;
}

/*categories*/
#admin-new-categories {
    margin: 5px 0;
    width:800px;
}

.category-selector {
    background-color:grey;
    color:black;
    border:rgb(53, 52, 52) 2px solid;
    cursor: pointer;
    padding:5px;
    margin: 5px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
}

.category-initial {
    display:inline-block;
}

/* DREAMS PAGE */

#current-image {
    width:300px;
}
.dreams-delete-alert {
    display:none;
    border:5px ridge #0091ffff;
    border-radius:6px;
}

.delete-dream, .delete-comment {
    display:inline-block;

}


#section-title {
    text-align:center;    
    font-size:130%;
    padding: 10px;
}

.top-border-dream {
    border-top:5px solid #0091ffff;
}

.dreams-title {
    border-top:5px solid #0091ffff;
    border-bottom:5px solid #0091ffff;
    background-color: rgb(6, 28, 46);
}

.dreamscape-title {
    border-top:5px solid #e4ff00ff;
    border-bottom:5px solid #e4ff00ff;
    background-color:rgb(59, 49, 0);
}
.dream-button {
    display:block;
    text-align:center;
    font-family: title;
    width: 50%;
    background-color:#0091ffff;
    cursor: pointer;
    font-size: 120%;
    line-height: 140%;
    margin:20px auto;
    padding:10px 20px;
    border: 4px solid white;
    border-radius: 6px;
}
#dreambuilder h2 {
    cursor: pointer;
}
.dream-button:hover {
    background-color: rgb(6, 28, 46);
}
.dream-list {
    border-left:1px dotted #0091ffff;
    border-right:1px dotted #0091ffff;    
}

.dream-list:last-child {
    border-bottom:1px dotted #0091ffff; 
}
.dreamscape-list {
    background-color:black;
    border-left:1px dotted #e4ff00ff;
    border-right:1px dotted #e4ff00ff;
    border-bottom:3px solid #e4ff00ff;
    margin-bottom:80px;   
}
.general-bar {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 20px;
    line-height: 125%;
    font-size:150%;
}

.dream-bar {
    border-top:3px solid #0091ffff;
    border-bottom:3px solid #0091ffff;
}

.dreamscape-bar {
    border-top:3px solid #e4ff00ff;
    border-bottom:3px solid #e4ff00ff;   
}

.main-dream-bar {
    background-color: rgb(6, 28, 46);
}

.main-dreamscape-bar {
    background-color:rgb(59, 49, 0);
}

.comment-dream-bar {
    border-top:2px solid #0091ffff;
    border-bottom:2px solid #0091ffff;
}
.comment-dreamscape-bar {
    border-top:2px solid #e4ff00ff;
    border-bottom:2px solid #e4ff00ff; 
}

.icons {
    display:flex;
}
.icons i {
    margin-left:20px;
    cursor: pointer;
}

.edit-dream:hover {
    color: #0091ffff;
    cursor: pointer;
}
.delete-dream:hover {
    color: #0091ffff;
    cursor: pointer;
}
.view-dream:hover {
    color: #0091ffff;
    cursor: pointer;
}
.view-dreamscape {
    font-size:140%;
    cursor: pointer;
}
.view-dreamscape:hover {
    color: #e4ff00ff;
    cursor: pointer;
}
.dream-info {
    display:flex;
    margin:30px 50px;
    font-size: 110%;
    width:100%;
}
.dream-image {
    margin:20px 0 0 0;
    margin-right:50px;
}
#feed-image {
    margin-bottom: 30px;
}

/*VIEW DREAM PAGE*/

#dream-line-break {
    margin-top:10px;
    margin-bottom: 40px;
    border-top:5px solid #0091ffff;
}
#return-button-container {
    border-top:5px solid #0091ffff;
}

#forgot-password-dream {
    color: #0091ffff;
    text-decoration: underline;
}
#forgot-password-dream:hover {
    color: white;
}
.view-dream-name, .dreamscape-view-name {    
    line-height:170%;
    padding-bottom:10px;
}

.view-dream-name {
    text-align:left;
    padding-bottom:15px;
    border-bottom:2px solid #0091ffff;
}

.dreamscape-view-name {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:2px solid #e4ff00ff;
}

.dreamscape-view-name i {
    margin-left: 30px;
}


.view-dream-image {
    margin:30px 0 0 0;
    margin-right:50px;
    
    
}
.yellow-border img {
    border:1px ridge rgb(59, 49, 0);
}

.view-dream-image img {    
    width:300px;
    
    
}

.view-dream-options {
    display:flex;
    margin:0;
}

.dream-action {
    font-size:90%;
    display:block;
    line-height:100%;
    padding:5px;
    padding-top:7px;
    text-align:center;
    border:3px solid white;
    border-radius:6px;
    font-family:title;
    width:130px;
}

.dream-button-follow, .submit-comment {
    background-color:rgb(58, 73, 69);
}
.dream-button-follow:hover, .submit-comment:hover {
    background-color:green;
    cursor:pointer;
}
.dream-button-unfollow, .cancel-comment {
    background-color:rgb(49, 7, 7);
}
.dream-button-unfollow:hover, .cancel-comment:hover {
    background-color:rgb(172, 3, 3);
    cursor:pointer;
}

.left-margin {
    margin-left:25px;
}

.dream-bar p, .dreamscape-bar p {
    margin:0;
}

.comments-bar {
    font-size:130%;
}

.dreamscape-comments-bar {
    border-top:3px solid #e4ff00ff;
}

.dreamscape-comments-show-bottom {
    border-bottom:3px solid #e4ff00ff;
}

.dreamscape-comments-bar p {
    margin:0;
}

.comments-container {
    margin:20px 50px;
}

.add-comment {    
    width:150px;
    text-align:center;
    font-family: title;
    border-radius: 4px;
    padding:3px;
    margin-bottom:10px;
    cursor: pointer;
}
.comment-entry-buttons {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
}

.comment-form {
    margin-bottom:10px;
}

.comment-form textarea {
    width:85%;
    resize:none;
    padding: 20px 20px;
    margin-bottom:10px;
    margin-right:50px;
}

.add-comment:hover {
    background-color: #0091ffff;
    border:2px solid white;
}

.comment-entry {
    margin-bottom: 10px;
}

.submit-comment-button, .submit-comment, .cancel-comment-button {
    border:2px solid white;
    color:white;
}
.submit-comment-button {
    display:inline-block;
    width: 75px;
    font-size:100%;
    padding:3px 0 2px 0;
    margin-right:5px;
}
.edit-comment-buttons {
    display:flex;
    align-items:center;
    margin-top:10px;
}
.comment-buttons {
    display:flex;
}
.cancel-comment {
    text-align:center;
    width:81px;
    font-size:90%;
    padding:0 0 2px 0;
    margin-left:10px;
}
.submit-comment {
    width: 85px;
    font-size:90%;
    padding:2px 0 3px 0;
    margin:0;
}

.comment-header {
    display:flex;
    justify-content:space-between;
    padding:2px 10px;
}

.dreams-button-small {
    border: 2px solid #0091ffff;    
    background-color: rgb(6, 28, 46);
}

.dreamscape-button-small {
    border: 2px solid #e4ff00ff;
    background-color: rgb(59, 49, 0);
}
.dreamscape-button-small:hover {
    background-color: #e4ff00ff;
    border: 2px solid rgb(59, 49, 0);
    color:rgb(59, 49, 0);
}

.comment-section {
    width:100%;
}

.unlike-button {
    color: green;
}
.undislike-button {
    color:red;
}
.undislike-button, .dislike-button, .icon-base {
    padding-left: 10px;
}

.unlike-button:hover {
    cursor:pointer;
    color: rgb(0, 80, 0);
}

.undislike-button:hover {
    color:rgb(133, 0, 0);
    cursor:pointer;
}

.like-button:hover {
    cursor:pointer;
    color: rgb(139, 247, 139);
}

.dislike-button:hover {
    color:rgb(250, 144, 144);
    cursor:pointer;
}
.comment-content {
    display:flex;
    
}
.comment-user {
    text-align:center;
    display:flex;
    flex-flow:column;
    align-items:center;
    flex:2;
    margin: 10px 0;
}

.comment-text {
    margin: 10px 15px;
    margin-right: 50px;
    flex:10;   
}

.comment-text i {
    font-size:120%;
    cursor: pointer;
}

.dreams-editing i:hover {
    color: #0091ffff;
}
.dreamscape-editing i:hover {
    color:  #e4ff00ff;
}

.comment-text textarea {
    padding: 10px 5px;
}
.dreams-editing textarea {
    border: 1px dotted #0091ffff;
}
.dreams-editing textarea:focus {
    border: 1px solid #0091ffff;
}
.dreamscape-editing textarea {
    border: 1px dotted #e4ff00ff;
}
.dreamscape-editing textarea:focus {
    border: 1px solid #e4ff00ff;
}

.comment-text textarea:focus {
    outline:none;
    width:100%;
}
.comment-avatar {
    margin-top:5px;
    display:flex;
    justify-content:center;
    width:150px;
    margin-left:5px;
}

.dreams-avatar {
    border-top: 2px solid #0091ffff;
}
.dreamscape-avatar {
    border-top: 2px solid #e4ff00ff;
}
.comment-avatar img {
    margin:10px 0;
    width:100px;
    height:100px;
    object-fit:cover;
}
.edit-comment, .delete-comment {
    margin-right:10px;
}
.delete-comment {
    margin-left:10px;
}
.comment-actions {
    font-size:100%;
    text-align: right;
    margin-right: -40px;
}

.textarea-display {
    padding: 20px 20px;
    font-size:90%;
    width:100%;
    white-space: pre-line;
}

.dreams-dotted {
    border: 1px dotted #0091ffff;
}

.dreams-dotted:focus {
    border: 1px solid #0091ffff;
}

.dreamscape-dotted {
    border: 1px dotted #e4ff00ff;
}

.dreamscape-dotted:focus {
    border: 1px solid #e4ff00ff;
} 
.view-dream-description {
    white-space: pre-line;
}

/* PROFILE PAGE */

#admin-options {
    margin-top: 20px;
    background-color:#5E3D00;
}
.admin-task {
    margin: 10px auto;
    width:40%;
    text-align: center;
    border:2px solid white;
    line-height:100%;
}
.admin-task:hover {
    color:black;
    background-color:white;
}

/*Dreamscape Page */
#filter-label {
    display:block;
    margin-right:10px;
    padding-bottom:8px;
}
#filter-select {
    display:block;
    padding-bottom:5px;
}

.select-section {
    display:flex;
    align-items:center;
}

#filter-select select {
    cursor: pointer;
    font-size:90%;
    width:150px;
    color:white;
    background-color: black;
    border:2px solid #e4ff00ff;
    border-radius:4px;
    padding:3px 3px 3px 8px;    
}

.filter-section {
    display:flex;
    font-size:125%;
    justify-content:center;
    text-align:center;
    margin:30px;
}

#filter-button {
    margin: 10px auto;
    width:150px;
}

/*password reset and 404*/

.other-page {
    margin: 30px 200px;
}

.container-other {
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 75%;
    padding: 20px 0;
    margin:20px auto 0 auto;
    border-top: 5px solid #ff6866ff;
}

.container-other img {
    width:100px;
}

.password-reset {
    display: flex;
    flex-flow:column;
    align-items:center;
    text-align:center;
    margin:0 40px;
}

.password-reset table {
    margin-top: 20px;
}

#profile-exit, #home-exit {
    margin-top:0;
    width:200px;
    margin-left:20px;
    border: 2px white solid;
    background-color: rgb(77, 28, 27);
    cursor: pointer;
}
#dream-exit {
    margin-top:0;
    width:200px;
    margin-left:20px;
    border: 2px white solid;       
    background-color: rgb(6, 28, 46);
    cursor: pointer;
}
#dream-exit:hover {
    background-color:#0091ffff; 
}


#reset-submit {
    margin-top:0;
    width:218px;
    padding:9px 0 8px 0;
    margin-right:20px;
    color:white;
    border: 2px white solid;
    background-color:rgb(58, 73, 69);
    cursor: pointer;
}

#reset-submit:hover {
    background-color:green;
}

#profile-exit:hover, #home-exit:hover {
    background-color: #ff6866ff;
}

.edit-buttons {
    display:flex;
    justify-content:center;
    margin-top:10px;
    width:100%;
    text-align:center;
}

#profile-edit-buttons {
    border-top: 5px solid #ff6866ff;
}

.profile-pic-remove input {
    accent-color: #ff6866ff;
    cursor: pointer;
}
/* Edit Dream */

#dream-section h4{
    margin:auto;
    text-align:center;
    width:220px;
    border-bottom:2px solid #0091ffff;;
    padding-bottom:4px;
 }

.category-edit-mofew {
    margin-top:20px;
}

#dream-edit-buttons {
    border-top: 5px solid #0091ffff;
}

.edit-button {
    width:200px;
}

.edit-button:hover {
    background-color: green;
    width:200px;
}

.abandon-edit-button {
    width: 182px;
}

.main-information {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    margin-right:20px;
}
.form-table-edit {
    border-spacing:15px;
}

#edit-layout img {
    text-align:center;
    width:200px;
}

#edit-layout{
    text-align:center;

}

#remove-picture {
    display:flex;
    align-items:center;
    justify-content: center;
}

#remove-picture label {
    margin-right:9px;
    padding-top:9px;
}

#remove-picture input {
    width: 17px;
    height: 17px;   
}


/*-----------MEDIA QUERIES---------------*/


/*smaller screens*/
@media screen and (max-width:1400px) {
    /*main-template*/
    #feed-container {
        margin:30px 100px;
    }
    /*dreamscape*/
    .general-bar {
        font-size:130%;
        
    }
    .dreamscape-view-name {
        font-size: 85%;
        line-height:170%;
    }
    .view-dream-description {
        font-size: 90%;
    }
    /*dreambuilder*/
    #dream_name, #dream_description {
        width:350px;
    }
    /*welcome*/
    #star-left {
        margin:0;  
    }
    #star-right {
        margin:0;
    }
    /*profile*/
    #profile-section {
        width:80%;
    }
    /*dreamscape*/
    #dreamscape-feed-container {
        border-width: 4px;
        padding: 25px 50px;
    }
     
}

@media screen and (max-width:1200px) {
    /*password-reset page*/
    .other-page {
        margin:30px 75px;
    }
    .container-other {
        width:85%
    }
    /*main-template*/
    #feed-container {
        margin:30px 75px;
    }
    #main-template-wrapper {
        width:320px;
        height:110px;
        font-size: 95%;
    }
    #nav-list img {
        width:100px;
        padding:8px;
    }
    #nav-list li {
        margin: 0;
    }
    .menu-icon {
        border-width:4px;
    }
    #dreams-caption {
        font-size:95%;
        top:36px;
        left:33px;
    }    
    #dreamscape-caption {
        font-size:95%;
        top:47px;
        left:40px;
    }    
    #profile-caption {
        font-size:95%;
        top:29px;
        right:19px;
    }
    /*sign-up & dreambuild */
    .personal-section {
        width:100%;
    }
    #dreambuild-container {
        margin:30px 100px;
    }
    /*edit dream*/
    #dream_name, #dream_description {
        width:270px;
    }
    #dream_description {
        height:100px;
    }
    /*dreamscape*/
    #feed-image {
        width:250px;
    }
    .ident-full {
        display:none;
    }
    .ident-small {
        display:block;
    }
    #dreamscape-feed-container {
        border-width: 3px;
        padding: 25px 25px;
    }
    .view-dream-image {
        margin-right:25px;
    }
    .dream-info {
        margin:30px 25px;
    }
    #filter-dreamscape h3, #filter-dreamscape select {
        font-size:90%;
    }
}

@media screen and (max-width:920px) {
    /*landing page*/
    #landing-top {
        margin:0 25px;;
    }
    #landing-main {
        margin:0 25px;
    }
    #landing-container {
        width: 600px;
    }
    #blurb-wrapper {
        margin-top: 25px;
        width:300px;
        font-size:100%;
    }
    #sun-left img {
        width: 100px;
    }
    #landing-tree-right img{
        margin-top:50px;
        width:200px;
    }
    /*password reset */
    .other-page {
        margin:30px;
    }
    .container-other {
        width:100%
    }
    /*main-template*/
    #feed-container {
        margin:30px 50px;
    }
    #title-section {
        flex-direction:column;
        justify-content:center;
    }
    #main-template-wrapper {
        width: 392px;
        height: 135px;
        font-size: 110%;
    }
    #nav-list {
        padding:0;
    }
    #nav-list img {
        padding:10px;
        width:125px;
    }
    #nav-list li {
        padding:0;
        margin: 0 10px;
    }
    .menu-icon {
        border-width:5px;
    }
    #dreams-caption {
        font-size:100%;
        position:absolute;
        top:46px;
        left:45px;
    }    
    #dreamscape-caption {
        font-size:100%;
        top:60px;
        left:53px;
    }    
    #profile-caption {
        font-size:100%;
        position:absolute;
        top:35px;
        right:25px;
    }
    /*sign-up & dreambuild */
    #dreambuild-container {
        margin:30px 25px;
    }
    /*dreambuilder*/
    .cloud img{
        width:75px;
    }
    #dream_name, #dream_description {
        width:280px;
    }
    /*image-upload (dreambuilder) */
    #tree-left {
        margin-right:10px;
    }
    #tree-right {
        margin-left:10px;
    }
    /*welcome*/
    .welcome-main, #congratulations {
        width:100%;
    }
    /*edit-dream*/
    .personal-section {
        flex-flow:column;
        align-items:center;
        justify-content: center;
    }
    #dream_name, #dream_description {
        margin:0;
        width:300px;
    }
    .middle-headline {
        display:block;
        margin:0;
        margin-bottom:20px;
        width:96%;
    }
    .main-information {
        margin:0;
    }
    .cloud-right {
        display:none;
    }
    /*profile*/
    #profile-section {
        align-items:center;
        justify-content: center;
        width:100%;
    }
    /*dreams*/
    #current-image {
        width:200px;
    }
    /*dreamscape*/
   
    .dreamscape-view-name {
        margin: 0 50px;
        text-align:center;
        width:auto;
        font-size: 80%;
    }
    .image-mobile {
        display:block;
    }
    .image-desktop {
        display:none;
    }
    .view-dream-image {
        margin-left:50px;
    }
    .view-dream-description {
        margin:0 50px;
    }
    .view-dream-options {
        justify-content:center;
        margin-top:10px;
    }
    .dream-info {
        padding:0;
        margin:20px 50px;
    }
    .ident-small {
        display:none;
    }
    .ident-minimum {
        display:block;
    }
    #filter-dreamscape h3, #filter-dreamscape select {
        font-size:80%;
    }
    #filter-button {
        font-size:90%;
    }
    .comment-user {
        text-align:center;
        font-size:90%;
    }
    .comment-avatar {
        width: 90px;
    }
    .comment-avatar img {
        width: 75px;
        height: 75px;
    }
    .textarea-display {
        padding:10px;
        width:105%;
    }
   
}

@media screen and (max-width:650px) {
    /*landing page*/
    #landing-container {
        align-items:center;
        width: 430px;
    }
    #blurb-wrapper {
        margin-top: 25px;
        width:300px;
        font-size:100%;
    }
    #sun-left {
        display:none;
    }
    #landing-tree-right{
        display:none;
    }
    #sun-middle {
        display:block;
    }
    #sun-middle img{
        width:100px;
    }
    #tree-middle{
        display:block;
    }
    #tree-middle img{
        width:110px;
    }
    .signin-link {
        width:200px;
        font-size:105%;
        padding:5px;
        margin:10px;
    }
    .signin-buttons {
        flex-direction: column;
        align-items:center;
    }
    .submit-comment, .cancel-comment {
        margin: 7px 0;
        width:200px;
        font-size:105%;
        padding:3px;
    }
    .submit-comment {
        width: 210px;
        padding: 4px;
    }
    /*password-reset*/
    #welcome-exit-buttons {
        flex-direction:column;
    }
    #reset-submit, #home-exit, #dream-exit, #profile-exit {
        margin:0;
    }
    #reset-submit {
        margin-bottom:20px;
    }
    .sun-reset {
        display:none;
    }
    .sun-reset-middle {
        display:block;
        margin-top:30px;
    }
    .sun-reset-middle img {
        width:100px;
    }
    #welcome-headline {
        width:340px;
        height:117px;
        font-size:85%;
    }
    /*404*/
    .lost-bunny{
        display:none;
    }
    .lost-bunny-middle {
        display:block;
        margin-top:20px;
    }
    .lost-bunny-middle img {
        width:100px;
    }
    #dreamscape-exit {
        margin: 0;
    }
    /*main-template*/
    #feed-container {
        margin:30px 20px;
    }
    #main-template-wrapper {
        width:320px;
        height:110px;
        font-size: 95%;
    }
    #nav-list img {
        padding:8px;
        width:100px;
    }
    #nav-list li {
        margin: 0;
    }
    .menu-icon {
        border-width:4px;
    }
    #dreams-caption {
        font-size:95%;
        top:36px;
        left:33px;
    }    
    #dreamscape-caption {
        font-size:95%;
        top:47px;
        left:40px;
    }    
    #profile-caption {
        font-size:95%;
        top:29px;
        right:19px;
    }
    /*sign-up & dreambuild */
    #bunny-right {
        display:none;
    }
    .personal-section {
        flex-direction:column;
        align-items:center;
    }
    /*dreambuilder*/
    .cloud img{
        width:80px;
    }
    .cloud-right {
        display:none;
    }
    /*image-upload (dreambuild)*/
    #tree-right {
        display:none;
    }
    /*welcome*/
    #congratulations {
        justify-content:center;
        margin-bottom:10px;
    }
    #star-left, #star-right, #dreamscape-intro-left, #dreamscape-intro-right {
        display:none;  
    }
    .welcome-center-img {
        display:block;
    }
    .welcome-center-img img{
        width:75px;
    }
    .welcome-star {
        margin:10px 0;
    }
    #create-dream-exit {
        margin: 10px 0 20px 0;
    }
    #dreamscape-exit {
        margin:0;
    }
    /*edit-dream*/
    #dream_name, #dream_description {
        width:270px;
    }
    .middle-headline {
        width:94%;
    }
    /*dreams page*/
    .dream-general {
        text-align:center;
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
    }
    .dream-image {
        margin:20px 0 0 0;
    }
    .general-bar {
        font-size: 110%;
    }
    /*dreamscape*/    
    .view-dream-description {
        font-size:90%;
    }
    #dreamscape-feed-container {
        border-width: 2px;
        padding: 20px 10px;
    }
    .view-dream-image {
        margin-left:25px;
    }
    .view-dream-description {
        margin:0 25px;
    }
    .dream-info {
        padding:0;
        margin:20px 25px;
    }
    .dreamscape-view-name{
        margin:0 25px;
    }
    .comments-container {
        margin:20px 25px;
    }
    .comment-user {
        text-align:center;
        font-size:90%;
    }    
    .comment-avatar {
        width: 80px;
    }
    .textarea-display {
        padding:10px;
        width:111%;
    }
    .comment-entry-buttons {
        flex-direction: column;
        justify-content:center;
        text-align:center;
    }
    .comment-buttons{
        flex-direction: column;
        align-items:center;
    }
    .comment-form textarea {
        margin-right: 0;
        width:91%
    }
    .edit-comment-buttons {
        flex-direction:column;
    }
    .user-info-full {
        display:none;
    }
    .user-info-small {
        display:block;
    }
}

@media screen and (max-width:450px) {
    /*landing page*/
    #landing-container {
        align-items:center;
        width: 340px;
    }
    #landing-top {
        margin:0 10px;;
    }
    #landing-main {
        margin:0 10px;
    }
    #landing-wrapper {
        width:320px;
        height:110px;
        font-size: 90%;
    }
    /*password reset */
    .other-page {
        margin:20px 10px;
    }
    #welcome-headline {
        width:320px;
        height:110px;
        font-size:75%;
    }
    .password-reset {
        margin:0;
    }
    /*main-template*/
    #main-template-wrapper {
        width:290px;
        height:100px;
        font-size:80%;
    }
    #feed-container {
        margin:20px 5px;
    }
    #nav-list img {
        padding:5px;
        width:80px;
    }
    .menu-icon {
        border-width:3px;
    }
    #dreams-caption {
        font-size:80%;
        top:27px;
        left:25px;
    }    
    #dreamscape-caption {
        font-size:80%;
        top:36px;
        left:30px;
    }    
    #profile-caption {
        font-size:80%;
        top:21px;
        right:12px;
    }
    /*sign-up & dreambuilder*/
    #dreambuild-container {
        margin:20px 10px;
    } 
    #journey-buttons button {
        display:block;
        width: 218px;
        margin:15px auto;
    }
    #journey-buttons a {
        display:block;
        width: 200px;
        margin: auto;
    }
    #create-wrapper {
        width:320px;
        height:110px;
        font-size: 90%;
    }
    /*dreambuilder*/
    .dream-label {
        display:none;
    }
    .labelmob {
        display:block;
    }
    .labelmob td {
        width:304px;
        text-align: center;
    }
    #dreambuild-table {
        border-spacing:3px;
    }
    #dream_description {
        height:200px;
    }
    /*image-upload (dreambuild)*/    
    #tree-left {
        display:none;
    }
    #tree-center {
        display:block;
        margin:10px 0;
    }
    #tree-text br {
        display: none;
    }
    /*edit-dream*/
    .middle-headline {
        width:92%;
    }
    #edit-table-dream {
        margin-top:20px;
        margin-bottom:5px;
        border-spacing:3px;
    }
    #edit-table-dream td {
        border-spacing:3px;
        width:304px;
        text-align: center;
    }
    #dream-edit-buttons {
        flex-direction:column;
        align-items:center;
    }
    #dream-edit-buttons button, #dream-edit-buttons a {
        margin:20px 0 0 0;
    }
    #profile-edit-buttons button, #profile-edit-buttons a {
        margin:20px 0 0 0;
    }
    /*profile*/
    #profile-edit-buttons {
        flex-direction:column;
        align-items:center;
    }
    #profile-edit-buttons button, #profile-edit-buttons a {
        margin:20px 0 0 0;
    }
    /*dreams page*/
    .icons i {
      margin-left:15px; 
    }
    .general-bar h3 {
        font-size:100%;
    }
    /*dreamscape*/
    .view-dream-image {
        margin-left:10px;
    }
    .view-dream-description {
        margin:0 10px;
    }
    .dream-info {
        padding:0;
        margin:20px 10px;
    }
    .dreamscape-view-name{
        margin:0 10px;
    }
    .view-dream-options {
        margin:0;
        flex-direction: column;
        align-items:center;
    }
    .view-dream-options a {
        width:200px;
        margin:7px 0;
        font-size:100%;
    }
    .comments-container {
        margin:20px 10px;
    }
    .comment-user {
        text-align:center;
        font-size:95%;
    }    
    .comment-avatar {
        width: 150px;
    }
    .comment-avatar img {
        width: 100px;
        height:100px;
    }
    .comment-content {
        flex-direction: column;
    }
    .textarea-display {
        padding:10px;
        width:103%;
    }
    .comment-actions {
        margin-right: -30px;
    }
    .general-bar p{
        font-size:100%;
    }
    .dreamscape-bar:last-child p {
        width:97px;
    }

}

@media screen and (max-width:359px) {
    /*landing page*/
    #landing-container {
        align-items:center;
        width: 310px;
    }
    #landing-top {
        margin:0px;
    }
    #landing-main {
        margin:0px;
    }
    #landing-wrapper {
        width:290px;
        height:100px;
        font-size: 85%;
    }
    /*password reset */
    .other-page {
        margin:20px 0;
    }
    #welcome-headline {
        width:290px;
        height:100px;
        font-size:70%;
    }
    /*404*/
    #dreamscape-exit {
        width:250px;
    }
    /*main-template*/
    #feed-container {
        margin:20px 3px;
    }
    /*signup & dreambuilder*/
    #dreambuild-container {
        margin:20px 10px;
    }
    #create-wrapper {
        width:290px;
        height:100px;
        font-size: 80%;
    }
    .show-additional, .show-fewer {
        width: 280px;
    }
    /*dreambuilder*/
    #dream_name, #dream_description {
        width:270px;
    }
    /*welcome*/
    #create-dream-exit {
        width:250px;
    }
    /*edit-dream*/
    .middle-headline {
        width:91%;
    }
    /*dreams-page*/
    .general-bar h3 {
        font-size:90%;
    }
    .dream-general {
        font-size:90%;
    }
    /*dreamscape*/
    .dreamscape-bar:last-child p {
        width:80px;
    }
    .general-bar {
        font-size:90%;
    }
}