{% extends 'main-template.html' %}

{% block title %}
Dreamscape - {{ user.first_name }}
{% endblock title %}

{% block content %}

<div class="opaque-element" id="dreams-container-top">
    <div id="section-title" class="dreamscape-title">
        <h2>Dreamscape</h2>
    </div>
    <div class="filter-section">
        <form id="filter-dreamscape" action="{{ url_for('dreamscape') }}" method="POST" name="personal-update" enctype="multipart/form-data">
            <div class="select-section"> 
                <div id="filter-label">
                    <label for="filter"><h3>Filter Results:</h3></label>
                </div>
                <div id="filter-select">
                    <select name="filter" id="dreamscape-filter">
                        {% if selected == "trending" %}
                            <option value="latest">Latest</option>
                            <option value="trending" selected>Trending</option>
                            <option value="personalized">Personalized</option>
                            <option value="followed">Followed</option>
                        {% elif selected == "personalized" %}
                            <option value="latest">Latest</option>
                            <option value="trending">Trending</option>
                            <option value="personalized" selected>Personalized</option>
                            <option value="followed">Followed</option>
                        {% elif selected == "followed" %}
                            <option value="latest">Latest</option>
                            <option value="trending">Trending</option>
                            <option value="personalized">Personalized</option>
                            <option value="followed" selected>Followed</option>
                        {% else %}
                            <option value="latest" selected>Latest</option>
                            <option value="trending">Trending</option>
                            <option value="personalized">Personalized</option>
                            <option value="followed">Followed</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <button type="submit" class="submit-comment-button submit-comment" id = "filter-button" for="filter-dreamscape">Show Results</button>
        </form>
    </div>
</div>
<div id="dreamscape-feed-container">
    {% with dreams = dream %}
    {% if dreams %}
    {% for dream in dreams %}
    <div class="dreamscape-list">
        <!--this code sets the focus for the page if a dream or creator is followed/unfollowed-->
        {% if request.path == url_for('dreamscape_unfollow_dream',dream_slug=dream.dream_slug, selected=selected)
        or  request.path == url_for('dreamscape_follow_dream',dream_slug=dream.dream_slug, selected=selected)
        or request.path == url_for('dreamscape_follow_creator',dream_slug=dream.dream_slug, selected=selected)
        or request.path == url_for('dreamscape_unfollow_creator',dream_slug=dream.dream_slug, selected=selected) %}
        {% if dream.dream_slug == dream_slug %}
        <div class="general-bar dreamscape-bar main-dreamscape-bar opaque-element" id="focussed-dream" tabindex=0>
            <div class="ident-full">
                <p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p>
            </div>
            <div class="ident-small not-displayed">
                <p>Dreamed by {{ dream.user_name | title }}</p>
            </div>
            <div class="ident-minimum not-displayed">
                <p>by {{ dream.user_name | title }}</p>
            </div>
            <div class="following">
                {% if dream.total_followers %}
                <p>Following: {{ dream.total_followers }}</p>
                {% else %}
                <p>Following: 0</p>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="general-bar dreamscape-bar main-dreamscape-bar opaque-element">
            <div class="ident-full">
                <p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p>
            </div>
            <div class="ident-small not-displayed">
                <p>Dreamed by {{ dream.user_name | title }}</p>
            </div>
            <div class="ident-minimum not-displayed">
                <p>by {{ dream.user_name | title }}</p>
            </div>
            <div class="following">
                {% if dream.total_followers %}
                    <p>Following: {{ dream.total_followers }}</p>
                {% else %}
                    <p>Following: 0</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="general-bar dreamscape-bar main-dreamscape-bar opaque-element">
            <div class="ident-full">
                <p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p>
            </div>
            <div class="ident-small not-displayed">
                <p>Dreamed by {{ dream.user_name | title }}</p>
            </div>
            <div class="ident-minimum not-displayed">
                <p>by {{ dream.user_name | title }}</p>
            </div>
            <div class="following">
                {% if dream.total_followers %}
                    <p>Following: {{ dream.total_followers }}</p>
                {% else %}
                    <p>Following: 0</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="dream-general opaque-element">                
            <div class="dream-info">
                <div class="dreamscape-view-name">
                    <div><h2>{{ dream.dream_name}}</h2></div>
                    <div class="view-dreamscape">
                        <a href="{{ url_for('view_dream', dream_slug=dream.dream_slug) }}">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </div>
                </div>
                <div class="view-dream-image image-mobile yellow-border not-displayed">
                    {% if dream.image %}
                    <img id="feed-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}">
                    {% endif %}
                </div> 
                <div class="view-dream-description">
                    <p>{{- dream.dream_description -}}<p>
                </div>
                <div class="view-dream-options">
                    {% if user != false %}
                    {% if dream.user_id | string != session['user_id'] | string %}
                    {% if dream._id | string in user.dreams_followed | string %}
                    <a class="dream-action dream-button-unfollow" href="{{ url_for('dreamscape_unfollow_dream', dream_slug=dream.dream_slug, selected=selected) }}">Unfollow Dream</a>
                    {% else %}
                    <a class="dream-action dream-button-follow" href="{{ url_for('dreamscape_follow_dream', dream_slug=dream.dream_slug, selected=selected) }}">Follow Dream</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% if user != false %}
                    {% if dream.user_id | string != session['user_id'] | string %}
                    {% if dream.user_id | string in user.users_followed | string %}
                    <a class="dream-action dream-button-unfollow left-margin" href="{{ url_for('dreamscape_unfollow_creator', dream_slug=dream.dream_slug, selected=selected) }}">Unfollow Creator</a>
                    {% else %}
                    <a class="dream-action dream-button-follow left-margin" href="{{ url_for('dreamscape_follow_creator', dream_slug=dream.dream_slug, selected=selected) }}">Follow Creator</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="view-dream-image image-desktop yellow-border">
                {% if dream.image %}
                <img id="feed-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}">
                {% endif %}
            </div>                
        </div>
        <div class="dream-comments">
            {% if dream.comments_enabled %}
            {% with dream_comment = comments %}
            {% if dream_comment %}
            {% set selected_comments=[] %}
            {% for comment in dream_comment %}                                
            {% if comment.dream_id | string == dream._id | string %}
            {{ selected_comments.append(comment) or "" }}
            {% endif %}
            {% endfor %}
            {% if request.path == url_for('like_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
            or request.path == url_for('add_dream_comment',dream_slug=dream.dream_slug, selected=selected)
            or request.path == url_for('edit_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
            or request.path == url_for('delete_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
            or request.path == url_for('unlike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
            or request.path == url_for('dislike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
            or request.path == url_for('undislike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id) %}
            <div class="opaque-element general-bar comments-bar dreamscape-comments-bar dreamscape-comments-show-bottom" id="{{dream.dream_slug}}-bar">
                <div class="number-of-comments">
                    {% if selected_comments | length == 1 %}
                    <p>{{ selected_comments | length }} Comment</p>
                    {% else %}
                    <p>{{ selected_comments | length }} Comments</p>
                    {% endif %}                
                </div>
                {% if selected_comments | length %}
                <div>
                    <span id="{{dream.dream_slug}}-view-all" class="not-displayed">
                        <span class="show-hide-comments">
                            <small>View Comments</small>
                            <i class="all-dreamscape-comments fa-solid fa-caret-left" id="{{dream.dream_slug}}-all-comments-show"></i>
                        </span>
                    </span>
                    <span id="{{dream.dream_slug}}-hide-all">
                        <span class="show-hide-comments">
                            <small>Hide Comments</small>          
                            <i class="all-dreamscape-comments fa-solid fa-caret-down" id="{{dream.dream_slug}}-all-comments-hide"></i>
                        </span>  
                    </span>
                </div>
            </div>
            {% endif %}
            {% else %}
            <div class="opaque-element general-bar comments-bar dreamscape-comments-bar" id="{{dream.dream_slug}}-bar">
                <div class="number-of-comments">
                    {% if selected_comments | length == 1 %}
                    <p>{{ selected_comments | length }} Comment</p>
                    {% else %}
                    <p>{{ selected_comments | length }} Comments</p>
                    {% endif %}                
                </div>
                {% if selected_comments | length %}
                <div>
                    <span id="{{dream.dream_slug}}-view-all">
                        <span class="show-hide-comments">
                            <small>View</small>
                            <i class="all-dreamscape-comments fa-solid fa-caret-left" id="{{dream.dream_slug}}-all-comments-show"></i>
                        </span>
                    </span>
                    <span id="{{dream.dream_slug}}-hide-all" class="not-displayed">
                        <span class="show-hide-comments">
                            <small>Hide</small>          
                            <i class="all-dreamscape-comments fa-solid fa-caret-down" id="{{dream.dream_slug}}-all-comments-hide"></i>
                        </span>  
                    </span>
                </div>
                {% else %}
                <div>
                    <span id="{{dream.dream_slug}}-view-all">
                        <span class="show-hide-comments">
                            <small>Be First</small>
                            <i class="all-dreamscape-comments fa-solid fa-caret-left" id="{{dream.dream_slug}}-all-comments-show"></i>
                        </span>
                    </span>
                    <span id="{{dream.dream_slug}}-hide-all" class="not-displayed">
                        <span class="show-hide-comments">
                            <small>Hide</small>          
                            <i class="all-dreamscape-comments fa-solid fa-caret-down" id="{{dream.dream_slug}}-all-comments-hide"></i>
                        </span>  
                    </span>
                </div>
                {% endif %}
            </div>
            {% endif %}        
            
            {% if request.path == url_for('like_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
                or request.path == url_for('edit_dream_comment',dream_slug=dream_slug, selected=selected, comment_id=comment_id)
                or request.path == url_for('add_dream_comment',dream_slug=dream_slug, selected=selected)
                or request.path == url_for('delete_dream_comment',dream_slug=dream_slug, selected=selected, comment_id=comment_id)
                or request.path == url_for('unlike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
                or request.path == url_for('dislike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id)
                or request.path == url_for('undislike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment_id) %}                                    
                {% if dream.dream_slug == dream_slug %}
                <div class="comments-container" id="{{dream.dream_slug}}-all-comments">
                {%else %}
                <div class="comments-container not-displayed" id="{{dream.dream_slug}}-all-comments">
                {% endif %}           
            {% else %}
            <div class="comments-container not-displayed" id="{{dream.dream_slug}}-all-comments">
            {% endif %}
                <div class="opaque-element comment-entry">
                    <div class="comment-entry-buttons">
                        <div class="add-comment dreamscape-button-small" id = "{{ dream.dream_slug }}">
                            Add Comment
                        </div>
                        {% if dream_slug == dream.dream_slug %}
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class= "{{ category }}" id="comment-flash">
                            <div id="focussed-dream" tabindex="0">
                                <h3>{{ message }}</h3>
                            </div>
                        </div>
                        {% endfor %}        
                        {% endif %}
                        {% endwith %}
                        {% endif %}
                    </div>
                    <form class="comment-form not-displayed" id="{{ dream.dream_slug }}-comment" action="{{ url_for('add_dream_comment', dream_slug=dream.dream_slug, selected=selected) }}" method="POST" name="personal-update" enctype="multipart/form-data">
                        <textarea class="comment-box adjustable-height dreamscape-dotted" wrap="hard" id="{{ dream.dream_slug }}-text" name="{{ dream.dream_slug }}-text"></textarea>
                        <div class="comment-buttons">
                            <button type="submit" class="submit-comment-button submit-comment" for="{{ dream.dream_slug }}-comment">Submit</button>
                            <div class="cancel-comment-button cancel-comment cancel-add-comment" id = "{{ dream.dream_slug }}-cancel">Cancel</div>
                        </div>
                    </form>
                </div>
                {% for comment in selected_comments %}
                <div class="comment-section">
                    {% if request.path == url_for('like_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment._id)  
                        or request.path == url_for('unlike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment._id)
                        or request.path == url_for('dislike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment._id)
                        or request.path == url_for('undislike_dream_comment',dream_slug=dream.dream_slug, selected=selected, comment_id=comment._id) %}
                    {% if comment._id | string == comment_id | string %}
                    <div class="comment-header dreamscape-bar comment-dreamscape-bar" id="focussed-dream" tabindex=0>
                    {% else %}
                    <div class="comment-header dreamscape-bar comment-dreamscape-bar">
                    {% endif %}
                    {% else %}
                    <div class="comment-header dreamscape-bar comment-dreamscape-bar">
                    {% endif %}
                        <div class="comments-delete-alert delete-alert not-displayed" id="alert-{{ comment._id | string }}">
                            <div class="main-alert">
                                <div class="alarm-bunny-left">
                                    <img src="{{ url_for('static', filename='images/general-assets/alert-bunny-left.svg') }}">
                                </div>
                                <div class="alarm-text" id="dreamscape-comments">
                                    <h3>Are you sure you want to delete this comment?</h3>
                                    <p>It will be permanently removed, however data from any positive or negative reactions will be retained.</p>
                                    <div class="comment-buttons">
                                        <a class="delete-confirm" href="{{ url_for('delete_dream_comment', dream_slug = dream.dream_slug, selected=selected, comment_id=comment._id) }}">Yes, Please</a>
                                        <div class="delete-cancel" id="{{ comment._id | string }}-cancel-delete-comment">Oops. No!!!</div>
                                    </div>
                                </div>
                                <div class="alarm-bunny-right">
                                    <img src="{{ url_for('static', filename='images/general-assets/alert-bunny-right.svg') }}">
                                </div>
                            </div>                        
                        </div>
                        <div class="opaque-element comments-user-info user-info-full">
                            Posted on {{ comment.datetime_created}}
                        </div>
                        <div class="opaque-element comments-user-info user-info-small not-displayed">
                            {{ comment.datetime_created}}
                        </div>
                        <div class="opaque-element like-dislike-section">
                            {% if comment.user_id | string != session['user_id'] | string %}                                                    
                                {% if comment._id | string in user.comments_liked | string %}
                                    <a href="{{ url_for('unlike_dream_comment', dream_slug=dream.dream_slug, comment_id=comment._id, selected=selected) }}">
                                        <i class="unlike-button fa-solid fa-thumbs-up"></i>
                                    </a>
                                    <span>{{ comment.user_likes|length }}</span>
                                {% else %}
                                    <a href="{{ url_for('like_dream_comment', dream_slug=dream.dream_slug, comment_id=comment._id, selected=selected) }}">
                                        <i class="like-button fa-solid fa-thumbs-up"></i>
                                    </a>
                                    <span>{{ comment.user_likes|length }}</span>                                            
                                {% endif %}
                                {% if comment._id | string in user.comments_disliked | string %}
                                    <a href="{{ url_for('undislike_dream_comment', dream_slug=dream.dream_slug, comment_id=comment._id, selected=selected) }}">
                                        <i class="undislike-button fa-solid fa-thumbs-down"></i>
                                    </a>
                                    <span>{{ comment.user_dislikes|length }}</span>
                                {% else %}
                                    <a href="{{ url_for('dislike_dream_comment', dream_slug=dream.dream_slug, comment_id=comment._id, selected=selected) }}">
                                        <i class="dislike-button fa-solid fa-thumbs-down"></i>
                                    </a>
                                    <span>{{ comment.user_dislikes|length }}</span>
                                {% endif %}
                            {% else %}                                                    
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span>{{ comment.user_likes|length }}</span>                                            
                                <i class="icon-base fa-solid fa-thumbs-down"></i>
                                <span>{{ comment.user_dislikes|length }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="opaque-element comment-content">
                        <div class="comment-user">
                            <h4>{{comment.user_name}}</h4>
                            <div class="comment-avatar dreamscape-avatar">
                                <img src="{{ base_url.profile + comment.user_pic }}">
                            </div>                                                
                        </div>
                        <div class="comment-text dreamscape-editing">
                            <form id="{{ dream.dream_slug }}-comment-display" action="{{ url_for('edit_dream_comment', dream_slug=dream.dream_slug, selected=selected, comment_id=comment._id) }}" method="POST" name="personal-update" enctype="multipart/form-data">
                                <textarea id="{{ comment._id }}-original" name="{{ comment._id }}-original" readonly hidden>{{ comment.comment }}</textarea>
                                <div class="textarea-display dreamscape-dotted" wrap="hard" id="{{ comment._id }}-fixed">
                                    {{- comment.comment -}}
                                </div>
                                <textarea id="{{ comment._id }}-display" name="{{ comment._id }}-text" class="adjustable-height comment-comment not-displayed" readonly>{{ comment.comment }}</textarea>
                                <div class="edit-comment-buttons">
                                    <button type="submit" class="not-displayed submit-comment" id="{{ comment._id }}-submit" for="{{ dream.dream_slug }}-comment-display">Confirm</button>
                                    <div class="cancel-comment-button cancel-comment not-displayed" id="{{ comment._id }}-cancel">Cancel</div>
                                </div>
                                {% if comment.user_id | string == session['user_id'] | string or user.role == "administrator" %}
                                <div class="comment-actions">
                                    <div class="edit-comment" id = "{{ comment._id }}-edit">
                                        <i class="fas fa-edit"></i>
                                    </div>
                                    <div class="delete-comment" id="{{ comment._id | string }}">
                                        <i class="fas fa-trash"></i></a>
                                    </div>  
                                </div>
                                {% elif user._id == dream.user_id %}
                                <div class="comment-actions">
                                    <div class="delete-comment" id="{{ comment._id | string }}">
                                        <i class="fas fa-trash"></i>
                                    </div>
                                </div>
                                {% endif %}
                            </form>
                        </div>                                           
                    </div>
                </div>
                {% endfor %}  
                {% endif %}
                {% endwith %}                
            </div>
            {% else %}
            <div class="opaque-element general-bar dreamscape-comments-bar comments-bar">
            <p><em>Comments are disabled for this dream</em></p>
            </div>
            {% endif %}
        </div>
        </div>
    {% endfor %}
    {% else %}
    {% if selected == "personalized" %}
    <div id="no-dreams">
        <div class="dream-general">                
            <div class="dream-info">
                <div id="no-results-name">
                    <h3>No Results Found</h3>
                </div>
                <div class="view-dream-description">
                    <p>This is likely because you have not yet selected any interests in your profile.
                    <br>We can match these with dreams to personalize your feed!</p>
                </div>
                <div class="view-dream-options">
                    <a id="profile-visit" href="{{ url_for('profile_personal') }}">Visit Your Profile</a></p>
                </div>
            </div>               
        </div>
    </div>
    {% else %}
    <div id="no-dreams">
        <div class="dream-general">                
            <div class="dream-info">
                <div id="no-results-name">
                    <h3>No Dreams Followed Yet</h3>
                </div>
                <div class="view-dream-description">
                    <p>Follow some dreams then you can view them here!</p>
                    <p>If you follow a creator then all of their dreams will be visible in this feed.</p>
                </div>
            </div>               
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endwith %}
</div>
{% endblock content %}