{% extends 'plain-template.html' %}
{% block title %}
    Dreambuilder
{% endblock title%}

{% block content %}    
    <form action="{{ url_for('dreambuilder') }}" method="POST" name="signup-form">
        <input type="text" id="selected-categories" class="absolutely-hidden" name="selected-categories">
        <div id="dreambuilder-one">
            <h2>What is your dream?</h2>
            <p>Dreams are freeform and can be anything.  
            <br>They could represent a goal or a vision.
            <br>They could represent the unattainable or impossible.
            </p>
            <p>It's up to you.</p>  
            <label for="dream_name">My Dream: </label><input type="text" id="dream_name" name="dream_name" required>
            <h4>Now describe your dream.</h4>
            <p>This section is for what your dream looks like when achieved.</p>
            <label for="dream_description">Description: </label>
            <textarea id="dream_description" name="dream_description" required></textarea>
            <br>
            <div id="interests-section">
                <h3 id="interests-heading">
                    <p>To share your dream, you may add categories so that other people may find it.
                    <br>Sharing a dream is the first step to making it real.</p>
                </h3>
                <p>Just click what you are interested in from the top ten categories listed here.
                    <br>If you prefer, don't click anything at all!  You can always do this later.</p>
                <div id = categories-one>

                {% with categories = categories_one %}
                    {% if categories %}
                        {% for category in categories %}
                        <div class="category-selector" id = "{{category.category}}">{{ category.category}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div id="show-more">Show more Categories</div>
                </div>
                <div id="categories-two" class="notdisplayed">
                {% with categories = categories_two %}
                    {% if categories %}
                        {% for category in categories %}
                        <div class="category-selector" id = "{{category.category}}">{{ category.category}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div id="show-all">Show All Categories</div>
                <div id="show-much-fewer">Show Fewer Categories</div>
                </div>
                <div id="categories-all" class="notdisplayed">
                    {% with categories = categories %}
                        {% if categories %}
                            {% for category in categories %}
                            <div class="category-selector" id = "{{category.category}}">{{ category.category}}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <div id="show-fewer">Show Fewer Categories</div>
                </div>
                <button type="submit" id="submit-dream">Create Dream</button>
            </div>
        </div>
    </form>
    <h3 class="red-text not-displayed" id="form-alert"></h3>
    <a id="abandon" href="{{ url_for('abandon_dream') }}">Abandon Dream</a>
{% endblock content %} 