{% extends 'main-template.html' %}

{% block title %}
General Information - {{ dream.dream_name }}
{% endblock title %}

{% block content %}
    <div class="page-menu">
        <a href="{{ url_for('edit_dream_general', dream_slug=dream.dream_slug) }}" class="page-menu-option {{ 'page-menu-selected' if request.path == url_for('edit_dream_general', dream_slug=dream.dream_slug) }}">
            <h2>Dream Information</h2>
        </a>
        <a href="{{url_for('edit_dream_preferences', dream_slug=dream.dream_slug) }}" class="page-menu-option {{ 'page-menu-selected' if request.path == url_for('edit_dream_preferences', dream_slug=dream.dream_slug) }}">
            <h2>Dream Preferences</h2>
        </a>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <h4>{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id = "edit-preferences" class="dream-edit-preferences">
        <h1>{{ dream.dream_name }}</h1>
        <a href="{{ url_for('edit_dream', dream_slug=dream.dream_slug) }}"><h4>Edit another module</h4></a>
        <form action="{{ url_for('edit_dream_preferences', dream_slug=dream.dream_slug) }}" method="POST" name="dream-update" enctype="multipart/form-data">
            <div id="select-edit-section">
                <div>
                    <input type="text" class="not-displayed" id="initial-categories" name="initial-categories" value="{{ dream.categories }}" readonly required>
                    <label for="categories">Categories: </label>
                    <input type="text" id="categories" name="categories" value="{{ dream.categories }}" readonly required>
                    <span id="categories-edit"><i class="fas fa-edit"></i></span>
                </div>
                <div>
                    <label for="required">Skills Required: </label>
                    <input type="text" class="not-displayed" id="initial-required" name="initial-required" value="{{ dream.skills_required }}" readonly required>
                    <input type="text" id="required" name="required" value="{{ dream.skills_required }}" readonly required>
                    <span id="required-edit"><i class="fas fa-edit"></i></span>
                </div>                
            </div>

            <h3 class="red-text not-displayed preferences-section" id="form-alert"></h3>
            <div id="individual-categories" class="not-displayed preferences-section">
                <span id="add-new-category">
                    <h3>Add New Category <i class="fas fa-plus "></i></h3>
                </span>
                <span id="add-category-field" class="not-displayed">
                    <label for="new-category-add">Add a category: </label><input type="text" id="new-category-add" name="new-category-add" width="40%">
                    <i id="add-this-category" class="fa-solid fa-plus add-stuff" tabindex=0></i>
                </span>
                <hr class="profile-update not-displayed">
                <div id="new-categories">
                    <h4 id="new-categories-title" class="not-displayed">New categories to be added:</h4>


                </div>
                <hr class="profile-update not-displayed">
                <h3>Edit or Delete categories</h3>

                {% with categories = dream.categories.split(",") %}
                    {% if categories %}                
                            {% for i in range(categories|length) %}
                                {% with id = "categories" + "-" + i|string %}
                                    <div>                            
                                        <label for="categories">category {{ i+1 }}</label>
                                        <input type="text" id="{{ id }}" name="{{ id }}" value="{{ categories[i] }}" readonly required>
                                        <span id="{{ id }}-edit" class="a-preference"><i class="fas fa-edit "></i></span>
                                        <span id="{{ id }}-confirm" class="not-displayed a-preference"><i class="fa-solid fa-check"></i></span>
                                        <span id="{{ id }}-cancel" class="not-displayed a-preference"><i class="fa-solid fa-xmark"></i></span>
                                        <span id="{{ id}}-show-delete" class="a-preference">
                                            <label for="delete_category"><i class="fa-solid fa-trash-can"></i></label>
                                            <input type="checkbox" id="{{ id }}-delete" name="{{ id }}-delete" class="a-preference">
                                        </span>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div id="individual-required" class="not-displayed preferences-section">
                <span id="add-new-required">
                    <h3>Add New Required Skills <i class="fas fa-plus "></i></h3>
                </span>
                <span id="add-required-field" class="not-displayed">
                    <label for="new-required-add">Add a category: </label><input type="text" id="new-required-add" name="new-required-add" width="40%">
                    <i id="add-this-required" class="fa-solid fa-plus add-stuff" tabindex=0></i>
                </span>
                <hr class="profile-update not-displayed">
                <div id="new-required">
                    <h4 id="new-required-title" class="not-displayed">New required skills to be added:</h4>


                </div>
                <hr class="profile-update not-displayed">
                <h3>Edit or Delete Required Skills</h3>

                {% with required = dream.skills_required.split(",") %}
                    {% if required %}                
                            {% for i in range(required|length) %}
                                {% with id = "required" + "-" + i|string %}
                                    <div>                            
                                        <label for="required">category {{ i+1 }}</label>
                                        <input type="text" id="{{ id }}" name="{{ id }}" value="{{ required[i] }}" readonly required>
                                        <span id="{{ id }}-edit" class="a-preference"><i class="fas fa-edit "></i></span>
                                        <span id="{{ id }}-confirm" class="not-displayed a-preference"><i class="fa-solid fa-check"></i></span>
                                        <span id="{{ id }}-cancel" class="not-displayed a-preference"><i class="fa-solid fa-xmark"></i></span>
                                        <span id="{{ id}}-show-delete" class="a-preference">
                                            <label for="delete_required"><i class="fa-solid fa-trash-can"></i></label>
                                            <input type="checkbox" id="{{ id }}-delete" name="{{ id }}-delete" class="a-preference">
                                        </span>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div id="preference-options" class="not-displayed preferences-section">
                <button type="submit">Save Changes</button>
                <a href="{{ url_for('edit_dream_preferences', dream_slug=dream.dream_slug) }}">Clear Changes</span></a>
            </div>               
        </form>
    </div>
{% endblock content %}