{% extends 'main-template.html' %}

{% block title %}
Dreams
{% endblock title %}

{% block content %}

<div id="dreambuilder">
    <a href="{{ url_for('dreambuilder') }}"><h1>Launch DreamBuilder</h1></a>
    {% if user.role=="administrator" %}
    <a href="{{ url_for('categories') }}"><h3>Manage Categories</h3></a>
    {% endif %}
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row flashes">
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div id="dream-list">
    {% with dreams = user_dreams %}
        {% if dreams %}
            {% for dream in dreams %}
                <div class="dream-list">
                    <div class="general-bar">
                        <a href="{{ url_for('edit_dream', dream_slug = dream.dream_slug) }}"><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="dream-general">
                        <div class="dream-image">
                            {% if dream.image %}
                                <img id="current-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}" width="150">
                            {% endif %}
                        </div>
                        <div class="dream-info">
                            <div class="dream-name">
                                <h3>{{ dream.dream_name}}</h3>
                            </div>
                            <div class="dream-description">
                                {{ dream.dream_description }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-dreams">
                <h3>You have no Hopes or Dreams</h3>
            </div>
        {% endif %}
    {% endwith %}        
</div>
{% endblock content %}