{% extends 'main-template.html' %}

{% block title %}
Dreamscape - {{ user.first_name }}
{% endblock title %}

{% block content %}
<div class="page-menu">
    <a href="{{ url_for('dreamscape', base_url=base_url, user=user_info, dream=dream, selected=selected) }}" class="page-menu-option {{ 'page-menu-selected' if request.path == url_for('dreamscape') }}">
        <h2>Dreamscape</h2>
    </a>
    <a href="{{ url_for('personal_feed', base_url=base_url, user=user_info) }}" class="page-menu-option {{ 'page-menu-selected' if request.path == url_for('personal_feed') }}">
        <h2>Personal Feed</h2>
    </a>
</div>
<form action="{{ url_for('dreamscape') }}" method="POST" name="personal-update" enctype="multipart/form-data">
    <label for="filter">Filter Results: </label>
    <select name="filter" id="dreamscape-filter">
        {% if selected == "trending" %}
        <option value="most_recent" selected>Most Recent</option>
        <option value="trending" selected>Trending</option>
        <option value="personalized">Personalized</option>
        {% elif selected == "personalized" %}
        <option value="most_recent">Most Recent</option>
        <option value="trending">Trending</option>
        <option value="personalized" selected>Personalized</option>
        {% else %}
        <option value="most_recent" selected>Most Recent</option>
        <option value="trending">Trending</option>
        <option value="personalized">Personalized</option>
        {% endif %}
    </select>
    <br>
    <button type="submit" id="filter_button">Show Dreams</button>
    {% if checked %}
    <input type="checkbox" id="show_own" name="show_own" value="Car" checked>
    {% else %}
    <input type="checkbox" id="show_own" name="show_own" value="Car">
    {% endif %}
    <label for="show_own"> Show Own Dreams</label><br>
    

</form>
{% with dreams = dream %}
{% if dreams %}
    {% for dream in dreams %}
        <div class="dream-list">
            <div class="general-bar">
                <p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p>
            </div>
            <div class="dream-general">
                
                <div class="dream-image">
                    {% if dream.image %}
                        <img id="current-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}">
                    {% endif %}
                </div>
                <div class="dream-info">
                    <div class="dream-name">
                        <h2>{{ dream.dream_name}}</h2>
                    </div>
                    <div class="dream-description">
                        {{ dream.dream_description }}
                    </div>
                    <div class="dream-options">
                        
                        {% if dream._id in user.dreams_followed %}
                            <a href="{{ url_for('dreamscape_unfollow_dream', dream_slug=dream.dream_slug) }}">Unfollow Dream</a>
                        {% else %}
                            <a href="{{ url_for('dreamscape_follow_dream', dream_slug=dream.dream_slug) }}">Follow Dream</a>
                        {% endif %}

                        {% if dream.user_id in user.users_followed %}
                            <a href="{{ url_for('dreamscape_unfollow_creator', user_id=dream.user_id) }}">Unfollow Creator</a>
                        {% else %}
                            <a href="{{ url_for('dreamscape_follow_creator', user_id=dream.user_id) }}">Follow Creator</a>
                        {% endif %}
                        
                        <a href="{{ url_for('view_dream', dream_slug=dream.dream_slug) }}">View Dream</a>
                        <a href="">View Comments</a>
                    </div>
                </div>                
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="no-dreams">
        <h3>No Results Found</h3>
    </div>
{% endif %}
{% endwith %}
{% endblock content %}