{% extends 'main-template.html' %}

{% block title %}
View Dream - {{ dream.dream_name }}
{% endblock title %}

{% block content %}

<div id="view-dream-container">
    <div id="dreams-container-top">
        {% if user != False %}
        <div id="return-button-container"> 
                {% if dream.user_id | string != session['user_id'] | string %}
                    <a class="clickable-item dream-button" href="{{ url_for('dreamscape') }}"><h2>Return to Dreamscape</h2></a>
                {% else %}
                    <a class="clickable-item dream-button" href="{{ url_for('dreams') }}"><h2>Return to Dreams</h2></a>
                {% endif %}  
        </div>
        {% else %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class= "{{ category }} dream-flash" id="large-flash">
                            <div>
                                <h3>{{ message }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div id="dream-line-break"></div>     
                {% endif %}
            {% endwith %}
        {% endif %}
        
    </div>
    <div id="dreams-container-main">
        {% with dream = dream %}
        {% if dream %}
            <div class="dream-list">
                <div class="general-bar dream-bar main-dream-bar">
                    <div class="ident"><p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p></div>
                    <div class="following">
                        {% if dream.total_followers %}
                            <p>Following: {{ dream.total_followers }} </p>
                        {% else %}
                            <p>Following: 0</p>
                        {% endif %}
                    </div>
                </div>
                <div class="dream-general">
                    <div class="dream-info">
                        <div class="view-dream-name">
                            <h2>{{ dream.dream_name}}</h2>
                        </div>
                        <div class="view-dream-description">
                            <p>{{ dream.dream_description }}<p>
                        </div>
                        <div class="view-dream-options">
                            {% if user != false %}
                                {% if dream.user_id | string != session['user_id'] | string %}
                                    {% if dream._id | string in user.dreams_followed | string %}
                                        <a class="clickable-item dream-action dream-button-unfollow" href="{{ url_for('unfollow_dream', dream_slug=dream.dream_slug) }}">Unfollow Dream</a>
                                    {% else %}
                                        <a class="clickable-item dream-action dream-button-follow" href="{{ url_for('follow_dream', dream_slug=dream.dream_slug) }}">Follow Dream</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if user != false %}
                                {% if dream.user_id | string != session['user_id'] | string %}
                                    {% if dream.user_id | string in user.users_followed | string %}
                                        <a class="clickable-item dream-action dream-button-unfollow left-margin" href="{{ url_for('unfollow_creator', dream_slug=dream.dream_slug) }}">Unfollow Creator</a>
                                    {% else %}
                                        <a class="clickable-item dream-action dream-button-follow left-margin" href="{{ url_for('follow_creator', dream_slug=dream.dream_slug) }}">Follow Creator</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="view-dream-image">
                        {% if dream.image %}
                            <img id="current-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}">
                        {% endif %}
                    </div>             
                </div>
                <div class="dream-comments">
                    {% if user != False %}
                    {% endif %}
                        {% if dream.comments_enabled %}
                            {% with dream_comment = comments %}
                                {% if dream_comment %}
                                    {% set selected_comments=[] %}
                                        {% for comment in dream_comment %}                                
                                            {% if comment.dream_id | string == dream._id | string %}
                                                {{ selected_comments.append(comment) or "" }}
                                            {% endif %}
                                        {% endfor %}

                                        {% if request.path == url_for('edit_comment',dream_slug=dream.dream_slug, comment_id=comment_id)  
                                            or request.path == url_for('add_comment',dream_slug=dream.dream_slug)
                                            or request.path == url_for('delete_comment',dream_slug=dream.dream_slug, comment_id=comment_id) %}
                                            <div id="focussed-dream" tabindex="0" class="general-bar dream-bar comments-bar">
                                        {%else%}
                                            <div class="general-bar dream-bar comments-bar">
                                        {% endif %}
                                        {% if selected_comments | length == 1 %}
                                        <p>{{ selected_comments | length }} Comment</p>
                                        {% else %}
                                        <p>{{ selected_comments | length }} Comments</p>
                                        {% endif %}
                                    </div>                                    
                                    <div class="comments-container">
                                        <div class="comment-entry">
                                            <div class="comment-entry-buttons">
                                                <div class="clickable-item add-comment dreams-button-small" id = "{{ dream.dream_slug }}">Add Comment</div>
                                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                                        {% if messages %}
                                                            {% for category, message in messages %}
                                                                {% if category == "red-flash-reset" or category == "green-flash-reset"%}
                                                                <div class= "{{ category }} not-displayed" id="comment-flash">
                                                                    <div id="focussed-dream" tabindex="0">
                                                                        <h3>{{ message }}</h3>
                                                                    </div>
                                                                </div>
                                                                {% else %}
                                                                <div class= "{{ category }}" id="comment-flash">
                                                                    <div id="focussed-dream" tabindex="0">
                                                                        <h3>{{ message }}</h3>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                            {% endfor %}        
                                                        {% endif %}
                                                    {% endwith %}
                                            </div>
                                            <form class="comment-form not-displayed" id="{{ dream.dream_slug }}-comment" action="{{ url_for('add_comment', dream_slug=dream.dream_slug) }}" method="POST" name="personal-update" enctype="multipart/form-data">
                                                <textarea class="comment-box adjustable-height dreams-dotted" wrap="hard" id="{{ dream.dream_slug }}-text" name="{{ dream.dream_slug }}-text"></textarea>
                                                <div class="comment-buttons">
                                                    <button type="submit" class="submit-comment-button submit-comment" for="{{ dream.dream_slug }}-comment">Submit</button>
                                                    <div class="cancel-comment-button cancel-comment cancel-add-comment" id = "{{ dream.dream_slug }}-cancel">Cancel</div>
                                                </div>
                                            </form>
                                        </div>                                     
                                        {% for comment in selected_comments: %}
                                        <div class="comment-section">                                        
                                            <div class="comment-header dream-bar comment-dream-bar">
                                                <div class="delete-comment-alert delete-alert not-displayed" id="alert-{{ comment._id | string }}">
                                                    <h3> Are you sure you want to delete this comment?</h3>
                                                    <a href="{{ url_for('delete_comment', dream_slug = dream.dream_slug, comment_id=comment._id) }}">Yes Please</a>
                                                    <a href ="{{ url_for('view_dream', dream_slug = dream.dream_slug) }}">No Thank You</a>
                                                </div>
                                                <div class="comments-user-info">
                                                    Posted on {{ comment.datetime_created}}
                                                </div>
                                                <div class="like-dislike-section">
                                                    {% if user != False %}
                                                        {% if comment.user_id | string != session['user_id'] | string %}                                                    
                                                            {% if comment._id | string in user.comments_liked | string %}
                                                                <a class="clickable-item" href="{{ url_for('unlike_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">
                                                                    <i class="unlike-button fa-solid fa-thumbs-up"></i>
                                                                </a>
                                                                <span>{{ comment.user_likes|length }}</span>
                                                            {% else %}
                                                                <a class="clickable-item" href="{{ url_for('like_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">
                                                                    <i class="like-button fa-solid fa-thumbs-up"></i>
                                                                </a>
                                                                <span>{{ comment.user_likes|length }}</span>                                            
                                                            {% endif %}
                                                            {% if comment._id | string in user.comments_disliked | string %}
                                                                <a class="clickable-item" href="{{ url_for('undislike_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">
                                                                    <i class="undislike-button fa-solid fa-thumbs-down"></i>
                                                                </a>
                                                                <span>{{ comment.user_dislikes|length }}</span>
                                                            {% else %}
                                                                <a class="clickable-item" href="{{ url_for('dislike_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">
                                                                    <i class="dislike-button fa-solid fa-thumbs-down"></i>
                                                                </a>
                                                                <span>{{ comment.user_dislikes|length }}</span>
                                                            {% endif %}
                                                        {% else %}                                                    
                                                            <i class="clickable-item fa-solid fa-thumbs-up"></i>
                                                            <span>{{ comment.user_likes|length }}</span>                                            
                                                            <i class="clickable-item icon-base fa-solid fa-thumbs-down"></i>
                                                            <span>{{ comment.user_dislikes|length }}</span>
                                                        {% endif %}
                                                    {% else %}                                                    
                                                        <i class="clickable-item fa-solid fa-thumbs-up"></i>
                                                        <span>{{ comment.user_likes|length }}</span>                                            
                                                        <i class="clickable-item icon-base fa-solid fa-thumbs-down"></i>
                                                        <span>{{ comment.user_dislikes|length }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-user">
                                                    <h4>{{comment.user_name}}</h4>
                                                    <div class="comment-avatar dreams-avatar">
                                                        <img src="{{ base_url.profile + comment.user_pic }}">
                                                    </div>                                                
                                                </div>
                                                <div class="comment-text dreams-editing">
                                                    <form id="{{ dream.dream_slug }}-comment-display" action="{{ url_for('edit_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}" method="POST" name="personal-update" enctype="multipart/form-data">
                                                        <textarea id="{{ comment._id }}-original" name="{{ comment._id }}-original" readonly hidden>{{ comment.comment }}</textarea>
                                                        <div class="textarea-display dreams-dotted" wrap="hard" id="{{ comment._id }}-fixed">
                                                            {{- comment.comment -}}
                                                        </div>
                                                        <textarea class="adjustable-height comment-comment not-displayed" wrap="hard" id="{{ comment._id }}-display" name="{{ comment._id }}-text" readonly>{{ comment.comment }}</textarea>
                                                        <div class="edit-comment-buttons">
                                                            <button type="submit" class="not-displayed submit-comment" id="{{ comment._id }}-submit" for="{{ dream.dream_slug }}-comment-display">Confirm</button>
                                                            <div class="clickable-item cancel-comment-button cancel-comment not-displayed" id="{{ comment._id }}-cancel">Cancel</div>
                                                        </div>
                                                    </form>
                                                    {% if user != False %}
                                                    {% if comment.user_id | string == session['user_id'] | string or user.role == "administrator" %}
                                                    <div class="comment-actions">
                                                        <div class="clickable-item edit-comment" id = "{{ comment._id }}-edit">
                                                            <i class="fas fa-edit"></i>
                                                        </div>
                                                        <div class="delete-comment clickable-item" id="{{ comment._id | string }}">
                                                            <i class="fas fa-trash"></i></a>
                                                        </div>  
                                                    </div>
                                                    {% elif user._id == dream.user_id %}
                                                    <div class="comment-actions">
                                                        <div class="delete-comment clickable-item" id="{{ comment._id | string }}">
                                                            <i class="fas fa-trash"></i>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endif %}
                                                </div>                                           
                                            </div>
                                        </div>                                
                                        {% endfor %}                                
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                    <div class="general-bar dream-bar comments-bar">
                        <p><em>Comments are disabled for this dream</em></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock content %} 