{% if user != False %}
    {% extends 'main-template.html' %}
{% else %}
    {% extends 'plain-template.html' %}
{% endif %}

{% block title %}
View Dream - {{ dream.dream_name }}
{% endblock title %}

{% block content %}
{% if user != false %}
    {% if dream.user_id | string != session['user_id'] | string %}
        <a class="clickable-item" href="{{ url_for('dreamscape') }}">Return to Dreamscape</a>
    {% else %}
        <a class="clickable-item" href="{{ url_for('dreams') }}">Return to Dreams</a>
    {% endif %}
{% else %}
<div id="dream-unsigned">
    <h3>Not a member? <br><a href = "{{ url_for('signup') }}">Sign up</a> to join our community.</p>
    <h3>Already a member?<br><span class="landing-button" id="signin-click">Sign In</span> here.</h3>
    <div id="signin-form" class ="not-displayed">
        <form id="sign-in-form" action="{{ url_for('signin') }}" method="POST">
            <table class="form-table">
                <tr>
                    <td class="label"><label for="email">e-mail address: </label></td>
                    <td><input type="email" id="email" name="email" required></td>
                </tr>
                <tr>
                    <td class="label"><label for="password">Password: </label></td>
                    <td><input type="password" id="password" name="password" required></td>
                </tr>
            </table>
            <button class="landing-button" type="submit" id="sign-in">Sign Me In</button>
        </form>
    </div>
    <a href="{{ url_for('password_reset')}}">Forgotten password?</a>
</div>
{% endif %}

{% with dream = dream %}
{% if dream %}
        <div class="dream-list">
            <!--this code sets the focus for the page if a dream or creator is followed/unfollowed-->
            {% if request.path == url_for('unfollow_dream',dream_slug=dream.dream_slug)
                or  request.path == url_for('follow_dream',dream_slug=dream.dream_slug)
                or request.path == url_for('follow_creator',dream_slug=dream.dream_slug)
                or request.path == url_for('unfollow_creator',dream_slug=dream.dream_slug)
                or request.path == url_for('add_comment',dream_slug=dream.dream_slug) %}
                {% if dream.dream_slug == dream_slug %}
                <div class="general-bar" id="focussed-dream" tabindex=0>
                    <p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p>
                </div>
                {% else %}
                <div class="general-bar">
                    <p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p>
                </div>
                {%endif%}
            {% else %}
            <div class="general-bar">
                <p>Dreamed on {{ dream.datetime_created }} by {{ dream.user_name | title }}</p>
            </div>
            {% endif %} 

            <div class="dream-general">                
                <div class="dream-image">
                    {% if dream.image %}
                        <img id="current-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}">
                    {% endif %}
                </div>
                <div class="dream-info">
                    <div class="dream-name">
                        <h2>{{ dream.dream_name}}</h2>
                    </div>
                    <div class="dream-description">
                        {{ dream.dream_description }}
                    </div>
                    <div class="dream-options">
                        {% if user != false %}
                            {% if dream.user_id | string != session['user_id'] | string %}
                                {% if dream._id | string in user.dreams_followed | string %}
                                    <a class="clickable-item" href="{{ url_for('unfollow_dream', dream_slug=dream.dream_slug) }}">Unfollow Dream</a>
                                {% else %}
                                    <a class="clickable-item" href="{{ url_for('follow_dream', dream_slug=dream.dream_slug) }}"> Follow Dream</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if user != false %}
                            {% if dream.user_id | string != session['user_id'] | string %}
                                {% if dream.user_id | string in user.users_followed | string%}
                                    <a class="clickable-item" href="{{ url_for('unfollow_creator', dream_slug=dream.dream_slug) }}">Unfollow Creator</a>
                                {% else %}
                                    <a class="clickable-item" href="{{ url_for('follow_creator', dream_slug=dream.dream_slug) }}">Follow Creator</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if dream.total_followers %}
                        <p>Following: {{ dream.total_followers }} </p>
                    {% else %}
                        <p>Following: 0</p>
                    {% endif %}
                </div>                
            </div>
            <div class="dream-comments">
                {% if user != False %}
                <div class="comment-entry">
                    <div class="clickable-item add-comment" id = "{{ dream.dream_slug }}">Add Comment</div>
                    <form class="not-displayed" id="{{ dream.dream_slug }}-comment" action="{{ url_for('add_comment', dream_slug=dream.dream_slug) }}" method="POST" name="personal-update" enctype="multipart/form-data">
                        <textarea class="comment-box" id="{{ dream.dream_slug }}-text" name="{{ dream.dream_slug }}-text"></textarea>
                        <button type="submit" for="{{ dream.dream_slug }}-comment">Submit Comment</button>
                    </form>
                </div>
                {% endif %}
                <div class="comments-small">
                    {% if dream.comments_enabled %}
                        {% with dream_comment = comments %}
                            {% if dream_comment %}
                                {% set selected_comments=[] %}
                                    {% for comment in dream_comment %}                                
                                        {% if comment.dream_id | string == dream._id | string %}
                                            {{ selected_comments.append(comment) or "" }}
                                        {% endif %}
                                    {% endfor %}
                                {% for comment in selected_comments: %}
                                    {% if request.path == url_for('edit_comment',dream_slug=dream.dream_slug, comment_id=comment._id) 
                                        or request.path == url_for('like_comment',dream_slug=dream.dream_slug, comment_id=comment._id)  
                                        or request.path == url_for('unlike_comment',dream_slug=dream.dream_slug, comment_id=comment._id)
                                        or request.path == url_for('dislike_comment',dream_slug=dream.dream_slug, comment_id=comment._id)
                                        or request.path == url_for('undislike_comment',dream_slug=dream.dream_slug, comment_id=comment._id)
                                        or request.path == url_for('delete_comment',dream_slug=dream.dream_slug, comment_id=session['user_id']) %}
                                    {% if comment._id | string == comment_id | string %}
                                    <div class="comment-header" id="focussed-dream" tabindex=0>
                                    {% else %}
                                    <div class="comment-header">
                                    {% endif %}
                                    {% else %}
                                    <div class="comment-header">
                                        {% endif %}
                                            <div class="delete-comment-alert delete-alert" id="alert-{{ comment._id | string }}">
                                                <h3> Are you sure you want to delete this comment?</h3>
                                                <a href="{{ url_for('delete_comment', dream_slug = dream.dream_slug, comment_id=comment._id) }}">Yes Please</a>
                                                <a href ="{{ url_for('view_dream', dream_slug = dream.dream_slug) }}">No Thank You</a>
                                            </div>
                                        {% if user != False %}
                                            {% if comment.user_id | string != session['user_id'] | string %}
                                                {% if comment._id | string in user.comments_liked | string %}
                                                    <a class="clickable-item" href="{{ url_for('unlike_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">Unlike</a>
                                                {% else %}
                                                    <a class="clickable-item" href="{{ url_for('like_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">Like</a>
                                                {% endif %}
                                                {% if comment._id | string in user.comments_disliked | string %}
                                                    <a class="clickable-item" href="{{ url_for('undislike_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">UnDislike</a>
                                                {% else %}
                                                    <a class="clickable-item" href="{{ url_for('dislike_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}">Dislike</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        Posted by {{ comment.user_name }} on {{ comment.datetime_created}}
                                    </div>
                                    <form id="{{ dream.dream_slug }}-comment-display" action="{{ url_for('edit_comment', dream_slug=dream.dream_slug, comment_id=comment._id) }}" method="POST" name="personal-update" enctype="multipart/form-data">
                                        <input id="{{ comment._id }}-original" name="{{ comment._id }}-original" value= "{{ comment.comment }}" readonly hidden>
                                        <textarea id="{{ comment._id }}-display" name="{{ comment._id }}-text" class="comment-comment" readonly>{{ comment.comment }}</textarea>  
                                        {% if user != False %}
                                            {% if comment.user_id | string == session['user_id'] | string or user.role == "administrator" %}
                                            <div class="comment-actions" >
                                                <div class="clickable-item edit-comment" id = "{{ comment._id }}-edit"><i class="fas fa-edit"></i></div>
                                                <div class="clickable-item cancel-comment not-displayed" id="{{ comment._id }}-cancel"><i class="fa-solid fa-xmark"></i></div>
                                                <div class="delete-comment clickable-item" id="{{ comment._id | string }}"><i class="fas fa-trash"></i></a>
                                                <button type="submit" class="not-displayed" id="{{ comment._id }}-submit" for="{{ dream.dream_slug }}-comment-display">Confirm Changes</button>    
                                            </div>
                                            {% elif user._id == dream.user_id %}
                                            <br>
                                            <div class="delete-comment clickable-item" id="{{ comment._id | string }}"><i class="fas fa-trash"></i></a>
                                            {% endif %}
                                        {% endif %}                                
                                    </form>
                                {% endfor %}  
                            {% endif %}
                        {% endwith %}
                    {% else %}
                    <hr>
                    <h3>Comments are disabled for this dream</h3>
                    <hr>
                    {% endif %}
                </div>
            </div>
        </div>
{% endif %}
{% endwith %}

{% endblock content %}