{% extends 'main-template.html' %}

{% block title %}
Edit Dream - {{ dream.dream_name }}
{% endblock title %}

{% block content %}
<hr class="dividing-line dream-line">
<div id = "edit-general" class="dream-edit-general">
    <form action="{{ url_for('edit_dream', dream_slug=dream.dream_slug) }}" method="POST" name="dream-update" enctype="multipart/form-data">
        <input type="text" id="initial-interests" class="absolutely-hidden" name="initial-interests" value="{{ dream.categories | join(',') }}" readonly required>
        <input type="text" id="selected-categories" class="absolutely-hidden" name="selected-categories">
        <div class="banner-headline dream-headline"><h2>"{{dream.dream_name}}" Information</h2></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} landing-flash" id="large-flash">
            <div>
                <h3>{{ message }}</h3>
            </div>
        </div>
        {% endfor %}        
        {% endif %}
        {% endwith %}
        <div class="personal-section" id="dream-section">
            <div class="main-information">
                <h4>Edit Dream Details:</h4>
                <table class="form-table-edit mobile-version not-displayed" id="edit-table-dream-mobile">
                    <tr class="labelmob">
                        <td>
                            <label for="dream_name-mob">My Dream:</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="dreams-dotted input-field-duplicate" type="text" id="dream_name-mob" name="dream_name" value="{{ dream.dream_name }}" required>
                        </td>
                    </tr>
                    <tr class="labelmob">
                        <td>
                            <label for="dream_description-mob">Dream Description:</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="dreams-dotted input-field-duplicate" id="dream_description-mob" name="dream_description" required>{{ dream.dream_description }}</textarea>
                        </td>
                    </tr>
                </table>
                <table class="form-table-builder dreambuild-table desktop-version" id="edit-table-dream">
                    <tr>
                        <td class="label dream-label"><label for="dream_name-desk">My Dream: </label></td>
                        <td><input class="dreams-dotted input-field-duplicate desktop-input" type="text" id="dream_name-desk" name="dream_name" value="{{ dream.dream_name }}" required></td>
                    </tr>
                    <tr>
                        <td class="label dream-label"><label for="dream_description-desk">Dream Description: </label></td>
                        <td><textarea class="dreams-dotted input-field-duplicate desktop-input" id="dream_description-desk" name="dream_description" required>{{ dream.dream_description }}</textarea></td>
                    </tr>
                </table>
                <div id="disable-comments" class="blue-box">
                    <label for="disable_comments">Disable Comments? </label>
                    {% if dream.comments_enabled %}
                    <input type="checkbox" id="disable_comments" name="disable_comments">
                    {% else %}
                    <input type="checkbox" id="disable_comments" name="disable_comments" checked>
                    {% endif %}
                </div>
            </div>
            <div class="banner-headline middle-headline not-displayed dream-headline"><h2>Dream Image</h2></div>
            <div class="image-layout dream-layout" id="edit-layout">
                {% if dream.image %}
                <h4><label for="uploaded-image">Upload New Image:</label></h4>
                {% else %}
                <h4><label for="uploaded-image">Upload Image:</label></h4>
                {% endif %} 
                <input type="file" id="uploaded-image" name="image">
                <div>
                    {% if dream.image %}
                    <img id="current-edit-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}">
                    <div id="remove-picture" class="dream-pic-remove blue-box">
                        <label for="delete_image">Remove Picture?</label>
                        <input type="checkbox" id="delete_image" name="delete_image">
                    </div>
                    {% endif %}
                    <img id="image-preview" class="not-displayed" src="{{ url_for('static', filename='images/general-assets/dreamsbuild-cloud-right.svg') }}" alt="This is a preview of the uploaded image">
                </div>
                <div id="dream-image-uploads">
                    <div id="profile-pic-cancel" class="cancel-dream-image not-displayed">Cancel Upload</div>
                </div>
            </div>
        </div>
        
        <div class="banner-headline" id="category-headline"><h2>"{{dream.dream_name}}" Categories</h2></div>
        <div id="interests-section">
            {% with categories = categories_two %}
            {% if categories %}
            <div class="show-additional category-edit-mofew not-displayed" id="show-more"><i class="fa-solid fa-arrow-down"></i> Show More Categories <i class="fa-solid fa-arrow-down"></i></div>
            {% endif %}
            {% endwith %}

            {% with categories = categories_custom %}
            {% if categories %}
            <div class="show-additional category-edit-mofew" id="show-all"><i class="fa-solid fa-arrow-down"> </i> Show All Categories <i class="fa-solid fa-arrow-down"></i></div>
            {% endif %}
            {% endwith %}
            <div id="show-fewer" class="show-fewer-style category-edit-mofew"><i class="fa-solid fa-arrow-up"></i> Show Fewer Categories <i class="fa-solid fa-arrow-up"></i></div>   
            <div id="warning-message"></div>

            {% with categories = categories_one %}
            {% if categories %}
            {% for category in categories %}
            <div class="category-selector category-initial" id = "{{category.category}}">{{ category.category}}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% with categories = categories_two %}
            {% if categories %}
            {% for category in categories %}
            <div class="category-selector categories-two category-initial" id = "{{category.category}}">{{ category.category}}</div>
            {% endfor %}                    
            {% endif %}
            {% endwith %}

            {% with categories = categories_custom %}
            {% if categories %}
            {% for category in categories %}
            <div class="category-selector categories-custom category-initial" id = "{{category.category}}">{{ category.category}}</div>
            {% endfor %}                            
            {% endif %}
            {% endwith %}                
        </div>
        <div id="dream-edit-buttons" class="edit-buttons">
            <button id="disable-button" type="submit" class="create-button edit-button">Submit Changes</button>
            <a id="abandon" class="abandon-button abandon-edit-button" href="{{ url_for('edit_dream', dream_slug=dream.dream_slug) }}">Clear Changes</a>
        </div>                
    </form>
</div>
{% endblock content %}