{% extends 'plain-template.html' %}

{% block title %}
    Image Upload - {{ dream.dream_name }}
{% endblock title%}
    
{% block content %}
    <h1>So, you dream of {{ dream.dream_name }}</h1>
    <h3>That's great - if you don't have a dream, how you gonna make a dream come true?</h3>
    <p>Even better, is if you can visualise a dream.  Is there an image that evokes it?</p>
    <p>One that will catch the attention of others, motivate and inspire them.</p>
    <p>Don't worry if not.  It can always be a tomorrow thing.</p>
    <form action="{{ url_for('image_upload', dream_slug=dream_slug) }}" method="POST" enctype="multipart/form-data">
        <label for="image_upload">Dream Image</label>
        {% if dream.image %}
            <img id="current-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}" width="150">
        {% else %}
            <img id="current-image" src="{{ url_for('static', filename='images/general-assets/bunny.jpg') }}" alt = "A crudely drawn bunny, which appears to be sitting on grass inside a cloud in the sky. Here this indicates the user has yet to upload an image specific to this dream." width="150">
        {% endif %}
        <img id="image-preview" class="not-displayed" src="" width="150">
        <input type="file" id="uploaded-image" name="image_upload">
        <span id="profile-pic-cancel" class="not-displayed"><i class="fa-solid fa-xmark"></i></span>
        <p>
        <button type="submit">Submit Image</button>
        
        <a href="{{ url_for('dreamscape') }}">I'll do this later</a>
        </p>
    </form>
{% endblock content %}