{% extends 'plain-template.html' %}
{% block title %}
    Dreambuilder
{% endblock title%}
 
{% block content %}
<div id="dreambuild-container">
    <div class="headline-wrapper" id="dreambuilder-headline"><h1>Congratulations</h1></div>
        <div id="dreambuild-image-wrapper"> 
            <div id="dream-image-top">
                <div id="tree-left">
                    <img src="{{ url_for('static', filename='images/general-assets/palm-tree.svg') }}">
                </div>
                <div id="tree-text">            
                    <h4>You have dreamed a brand new dream.</h4>
                    <br>
                    <h4>And if you don't have a dream, how you gonna make a dream come true?</h4>                    
                </div>
                <div id="tree-right">
                    <img src="{{ url_for('static', filename='images/general-assets/palm-tree.svg') }}">
                </div>
            </div>
            <div class="dreambuild-image-form">
                <form action="{{ url_for('image_upload', dream_slug=dream_slug) }}" method="POST" enctype="multipart/form-data">
                    <div class="banner-headline" id="dream-headline"><h2>Add an Image<h2></div>
                    <p>It is recommended you add an image to your dream.
                    <br>It will help "{{ dream.dream_name }}" attract more attention and look better on the feed!
                    <br>Plus I spent ages on the image handling code.</p>
                    <div class="image-layout">
                        {% if dream.image %}
                        <label for="image_upload"><h4>Upload New Image:</h4></label>
                        {% else %}
                        <label for="image_upload"><h4>Upload Image:</h4></label>
                        {% endif %} 
                        <input type="file" id="uploaded-image" name="image_upload">
                        <div>
                            {% if dream.image %}
                            <img id="current-image" src="{{ base_url.dreams + dream.image }}" alt = "{{ dream.image_alt }}">
                            {% endif %}
                            <img id="image-preview" class="not-displayed" src="" width="150">
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                <div class= "{{ category }} dreams-flash" id="large-flash">
                                    <div>
                                        <h2>{{ message }}</h2>
                                    </div>
                                </div>
                                {% endfor %}            
                            {% endif %}
                        {% endwith %}
                        <div id="dream-image-uploads">
                            <button id="image-submit" type="submit" class="upload-dream-image not-displayed" for="signup-form">Upload Image</button>
                            <div id="profile-pic-cancel" class="cancel-dream-image not-displayed">Cancel Upload</div>
                        </div>
                    </div>
                                   
                </form> 
            </div>
            <a class="later-button" href="{{ url_for('view_dream', dream_slug=dream.dream_slug) }}">I'll do this later</a>  
        </div>             
</div>
{% endblock content %} 