{% extends 'plain-template.html' %}

{% block title %}
    Hopes and Dreams - Page not Found
{% endblock title%}
    
{% block content %}
<div class="other-page">
    
    <form action="{{ url_for('password_reset') }}" method="POST" name="password-reset">
        <div class="headline-wrapper" id="welcome-headline"><h1>Lost Bunnies</h1></div>     
        <div class="container-other">
            <div class="lost-bunny"><img src="{{ url_for('static', filename='images/general-assets/quesbunnyright.svg') }}"></div>
            <div class="password-reset">
                <h3>We're ever so sorry, but that content is not avaiable.</h3>
                <div class="lost-bunny-middle not-displayed"><img src="{{ url_for('static', filename='images/general-assets/quesbunnyleft.svg') }}"></div>
                <p>It's probably been deleted, either that or it never existed in the first place. Why not go back to the Dreamscape? That's where we're going!</p>
            </div>
            <div class="lost-bunny"><img src="{{ url_for('static', filename='images/general-assets/quesbunnyleft.svg') }}"></div>
        </div>
        <div id="welcome-exit-buttons">
            <a id="dreamscape-exit" class="exit-button" href="{{ url_for('dreamscape') }}">Return to Dreamscape</a>
        </div>
    </form>
</div>
{% endblock content %}