<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/8c1ab874f9.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock title%}
    </title>
</head>
<body>
    <div id="feed-container">
        <div id="title-section">
            <div id="main-title">
                <div class="clickable-item" id="main-template-wrapper"><h1>Hopes and Dreams</h1></div>
            </div>
            <nav id="main-navigation">
                <ul id="nav-list">
                    <li>
                        {% if dream is defined %}
                        <div id ="dreams-icon-container" class="menu-icon clickable-item {{ 'active-page' 
                            if request.path == url_for('view_dream', dream_slug=dream.dream_slug)
                            or request.path == url_for('edit_comment', dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('like_comment', dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('unlike_comment', dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('dislike_comment', dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('undislike_comment', dream_slug=dream.dream_slug, comment_id=comment_id) }}">
                        {% else %}
                        <div id ="dreams-icon-container" class="menu-icon clickable-item {{ 'active-page' if request.path == url_for('dreams') }}">
                        {% endif %}
                            <a href="{{ url_for('dreams') }}">
                                <img id ="dreams-icon" src="{{ url_for('static', filename='images/general-assets/dreams-icon.svg') }}" alt="A cloud which looks like a thought bubble, signifying an idea, or in this case an icon which will take you to your dreams">
                                <div id="dreams-caption"><h3>Dreams</h3></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id ="dreamscape-icon-container" class="menu-icon clickable-item {{ 'active-page' if request.path == url_for('dreamscape') }}">
                            <a href="{{ url_for('dreamscape') }}">
                                <img id ="dreamscape-icon" src="{{ url_for('static', filename='images/general-assets/sun-icon.svg') }}" alt="A sun icon, evoking sunlight dappled plains and indicating the icon will take you to the dremscape">
                                <div id="dreamscape-caption"><h3>Feed</h3></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id ="profile-icon-container" class="menu-icon clickable-item {{ 'active-page' if request.path == url_for('profile_personal') }}">
                            <a href="{{ url_for('profile_personal') }}">
                                <img id ="profile-icon" src="{{ url_for('static', filename='images/general-assets/profile-icon.svg') }}" alt = "A cute bunny, evoking the signup process and indicating the icon will take you to your profile">
                                <div id="profile-caption"><h3>Profile</h3></div>
                            </a>
                        </div>
                    </li>                    
                </ul>         
            </nav>
        </div>
        <div id="content-section">
            <div id="main-content">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>