<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/8c1ab874f9.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock title%}
    </title>
</head>
<body>
    <div id="feed-container">
        <div id="title-section">
            <div id="desktop-banner">
                <img src="{{ url_for('static', filename='images/general/cookerycornermain.png') }}" alt="" width = "650">
            </div>
            <div id="desktop-search">
                <form action="" method="POST">
                    <input type="radio" id="people" name="search_type" value="people">
                    <label for="people">People</label>
                    <input type="radio" id="dreams" name="search_type" value="dreams">
                    <label for="dreams">Dreams</label><br>
                    <input type="text" id="search_text" name="search_type">
                    <button type="submit">Search</button>
                </form>
                <img src="{{ base_url.profile + user.profile_picture }}" alt = "{{ user.profilepic_alt }}" width="150">
            </div>

        </div>
        <div id="main-section">
            <div id="left-sidebar">
                <a href="{{ url_for('dreams') }}" class="{{ 'active-page' if request.path == url_for('dreams') }}">
                    <img src="{{ url_for('static', filename='images/general/friendsimg.bmp') }}" alt="" width = "150">
                    <h3>Dreams</h3>
                </a>
                <a href="{{ url_for('feed_dreamscape') }}" class="{{ 'active-page' if request.path == url_for('feed_dreamscape') }}">
                    <img src="{{ url_for('static', filename='images/general/friendsimg.bmp') }}" alt="" width = "150">
                    <h3>Feed</h3>
                </a>
                <a href="{{ url_for('profile_personal') }}" class="{{ 'active-page' if (request.path == url_for('profile_personal') or request.path == url_for('site_preferences')) }}">
                    <img src="{{ base_url.profile + user.profile_picture }}" alt = "{{ user.profilepic_alt }}" width="150">
                    <h3>Profile</h3>
                </a>
                
            </div>
            <div id="main-content">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>