<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/8c1ab874f9.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock title%}
    </title>
</head>
<body>
    <div id="feed-container">
        <div id="title-section">
            <div id="main-title">
                <div class="clickable-item" id="main-template-wrapper"><h1>Hopes and Dreams</h1></div>
            </div>
            {% if user != False %}
            <nav id="main-navigation">
                <ul id="nav-list">
                    <li>
                        {% if dream is defined %}
                        <div id ="dreams-icon-container" class="menu-icon clickable-item {{ 'active-page' 
                            if request.path == url_for('view_dream', dream_slug=dream.dream_slug)
                            or request.path == url_for('edit_dream', dream_slug=dream.dream_slug)
                            or request.path == url_for('edit_comment',dream_slug=dream.dream_slug, comment_id=comment_id)  
                            or request.path == url_for('add_comment',dream_slug=dream.dream_slug)
                            or request.path == url_for('delete_comment',dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('like_comment', dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('unlike_comment', dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('dislike_comment', dream_slug=dream.dream_slug, comment_id=comment_id)
                            or request.path == url_for('undislike_comment', dream_slug=dream.dream_slug, comment_id=comment_id) }}">
                        {% else %}
                        <div id ="dreams-icon-container" class="menu-icon clickable-item {{ 'active-page' if request.path == url_for('dreams') }}">
                        {% endif %}
                            <a href="{{ url_for('dreams') }}">
                                <img id ="dreams-icon" src="{{ url_for('static', filename='images/general-assets/dreams-icon.svg') }}" alt="A cloud which looks like a thought bubble, signifying an idea, or in this case an icon which will take you to your dreams">
                                <div id="dreams-caption"><h3>Dreams</h3></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id ="dreamscape-icon-container" class="menu-icon clickable-item {{ 'active-page' 
                            if request.path == url_for('dreamscape')
                            or request.path == url_for('dreamscape', dream_slug=dream_slug, selected=selected, comment_id=comment_id)
                            or request.path == url_for('delete_dream_comment', dream_slug=dream_slug, selected=selected, comment_id=comment_id)
                            or request.path == url_for('dreamscape_follow_dream', dream_slug=dream_slug, selected=selected)
                            or request.path == url_for('dreamscape_unfollow_dream', dream_slug=dream_slug, selected=selected)
                            or request.path == url_for('dreamscape_follow_creator', dream_slug=dream_slug, selected=selected)
                            or request.path == url_for('dreamscape_unfollow_creator', dream_slug=dream_slug, selected=selected)
                            or request.path == url_for('add_dream_comment', dream_slug=dream_slug, selected=selected)
                            or request.path == url_for('edit_dream_comment', dream_slug=dream_slug, comment_id=comment_id, selected=selected)
                            or request.path == url_for('like_dream_comment', dream_slug=dream_slug, comment_id=comment_id, selected=selected)
                            or request.path == url_for('unlike_dream_comment', dream_slug=dream_slug, comment_id=comment_id, selected=selected)
                            or request.path == url_for('dislike_dream_comment', dream_slug=dream_slug, comment_id=comment_id, selected=selected)
                            or request.path == url_for('undislike_dream_comment', dream_slug=dream_slug, comment_id=comment_id, selected=selected) }}">
                            <a href="{{ url_for('dreamscape') }}">
                                <img id ="dreamscape-icon" src="{{ url_for('static', filename='images/general-assets/sun-icon.svg') }}" alt="A sun icon, evoking sunlight dappled plains and indicating the icon will take you to the dremscape">
                                <div id="dreamscape-caption"><h3>Feed</h3></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id ="profile-icon-container" class="menu-icon clickable-item {{ 'active-page' if request.path == url_for('profile_personal') }}">
                            <a href="{{ url_for('profile_personal') }}">
                                <img id ="profile-icon" src="{{ url_for('static', filename='images/general-assets/profile-icon.svg') }}" alt = "A cute bunny, evoking the signup process and indicating the icon will take you to your profile">
                                <div id="profile-caption"><h3>Profile</h3></div>
                            </a>
                        </div>
                    </li>                    
                </ul>         
            </nav>
            {% else %}
            <div id="landing-buttons">
                <a class="signin-link"  id="main-signup" href="{{ url_for('signup') }}">Sign Up</a>
                
                <div class="signin-link" id="signin-click">Sign In</div>
        
                <div id="signin-form" class ="not-displayed">
                    <form id="sign-in-form" action="{{ url_for('signin_dream', dream_slug=dream_slug) }}" method="POST">
                        <table class="form-table">
                            <tr>
                                <td class="label"><label for="email">e-mail address: </label></td>
                                <td><input type="email" id="email" name="email" required></td>
                            </tr>
                            <tr>
                                <td class="label"><label for="password">Password: </label></td>
                                <td><input type="password" id="password" name="password" required></td>
                            </tr>
                        </table>
                        <div class="signin-buttons">
                            <button type="submit" class="submit-comment-button submit-comment" for="sign-in-form">Submit</button>
                            <div class="cancel-comment-button cancel-comment cancel-signin" id="signin-cancel">Cancel</div>
                        </div>
                    </form>
                </div>
                <a id="forgot-password-dream" href="{{ url_for('password_reset')}}">Forgotten password?</a>
            </div>
            {% endif %}
        </div>
        <div id="content-section">
            <div id="main-content">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>