{% extends 'plain-template.html' %}

{% block title %}
    Hopes and Dreams - Password Reset
{% endblock title%}
    
{% block content %}
<div class="other-page">    
    <form action="{{ url_for('password_reset_dream', dream_slug=dream_slug) }}" method="POST" name="password-reset">
        <div class="headline-wrapper" id="welcome-headline"><h1>Password Reset</h1></div>     
        <div class="container-other">
            <div id="star-left"><img src="{{ url_for('static', filename='images/general-assets/sun-naked.svg') }}"></div>
            <div class="password-reset">
                <h3>Enter a registered e-mail address to receive a link to reset your password.</h3>
                    <table class="form-table">
                        <tr>
                            <td><label for="email">e-mail address: </label></td>
                            <td><input type="email" id="email" name="email" required></td>
                        </tr>        
                    </table>
            </div>
            <div id="star-right"><img src="{{ url_for('static', filename='images/general-assets/sun-naked.svg') }}"></div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class= "{{ category }} other-flash" id="large-flash">
                        <div>
                            <h3>{{ message }}</h3>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div id="welcome-exit-buttons">
            <button id="reset-submit" class="exit-button" type="submit">Reset Password</button>
            <a id="dream-exit" class="exit-button" href="{{ url_for('view_dream', dream_slug=dream_slug) }}">Return to Dream</a>
        </div>
    </form>
</div>
{% endblock content%}