{% extends 'plain-template.html' %}

{% block title %}
    Image Upload - {{ user.first_name | capitalize + user.last_name | capitalize }}
{% endblock title%}
    
{% block content %}
<div id="explore">
    <div class="headline-wrapper" id="signup-title-wrapper"><h1>Welcome {{ user.first_name | capitalize }}!</h1></div>       
    <div id="congratulations">
        <div id="star-left"><img src="{{ url_for('static', filename='images/general-assets/star.svg') }}"></div>
        <div id="congrats-text">
            <h2>Congratulations!</h2>
            <h4>You are ready to explore the Dreamscape.</h4>
        </div>
        <div id="star-right"><img src="{{ url_for('static', filename='images/general-assets/star.svg') }}"></div>
    </div>
    
    <div id="dreamscape-intro">
        <div id="dreamscape-intro-left">
            <img src="{{ url_for('static', filename='images/general-assets/bunny-right.svg') }}">
        </div>
        <div id="dreamscape-intro-text">
            <p>The Dreamscape is where you will find hopes, dreams and aspirations.
                <br>It is a thrilling and uplifting place.
            </p>
        </div>
    </div>
    <div class="grass-width"></div>
    <div id="dream-intro">
        <div id="dreamscape-intro-text">
            <p>Each dream you see is special to someone.</p>
                <p>Perhaps you can help.
                    <br>Perhaps you can encourage.
                    <br>Perhaps you just want to see how they get along.
                </p>
            </p>
        </div>
        <div id="dreamscape-intro-right">
            <img src="{{ url_for('static', filename='images/general-assets/bunny-left.svg') }}">
        </div>
    </div>
    <div class="grass-width"></div>
    <p>Or perhaps you want to form your own Hopes and Dreams?</p>
    <a id="dreamscape-button" class="landing-button" href="{{ url_for('dreamscape') }}">Take me to the Dreamscape</a>
{% endblock content %}