{% extends 'main-template.html' %}

{% block title %}
Profile Information - {{ (user.first_name + " " + user.last_name) | title }}
{% endblock title %}

{% block content %}
<hr class="dividing-line profile-line">
{% if user.role=="administrator" %}
<div  id="admin-functions">
    <div class="banner-headline personal-headline"><h2>Admin Functions</h2></div>
    <div class="admin-task"><a href="{{ url_for('add_avatars') }}"><h4>Manage Avatars</h4></a></div>
    <div class="admin-task"><a href="{{ url_for('categories') }}"><h4>Manage Categories</h4></a></div>
    <div class="admin-task"><a href="{{ url_for('remove_users') }}"><h4>Remove Users</h4></a></div>
    <div class="admin-task"><a href="{{ url_for('remove_dreams') }}"><h4>Remove Dreams</h4></a></div>        
</div>
{% endif %}
<div id = "edit-general" class="dream-edit-general">
    <form action="{{ url_for('profile_personal') }}" method="POST" name="personal-update" enctype="multipart/form-data">
        <input type="text" id="initial-interests" class="absolutely-hidden" name="initial-interests" value="{{ user.interests | join(',') }}" readonly required>
        <input type="text" id="selected-categories" class="absolutely-hidden" name="selected-categories">
        <div class="banner-headline personal-headline"><h2>{{ user.first_name + " " + user.last_name | title }}'s Information</h2></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} landing-flash" id="large-flash">
            <div>
                <h3>{{ message }}</h3>
            </div>
        </div>
        {% endfor %}        
        {% endif %}
        {% endwith %}
        <div class="personal-section" id="profile-section">
            <div class="main-information" id="profile-info">
                <h4>Edit Your Display Name:</h4>
                <table class="form-table-edit">
                    <tr>
                        <td class="label"><label for="first-name">First Name: </label></td>
                        <td><input type="text" id="first-name" name="first_name" value="{{ user.first_name | capitalize }}" required></td>
                    </tr>
                    <tr>
                        <td class="label"><label for="last-name">Last Name</label></td>
                        <td><input type="text" id="last-name" name="last_name" value="{{ user.last_name | capitalize }}" required></td>
                    </tr>
                </table>
                <div class="pass-change">
                    <p>Click <a id="profile-pass-change" href="{{url_for('password_reset')}}">HERE</a> to change your password.</p>
                </div>
                <a class="cancel-dream-image" id="logging-out" href="{{ url_for('log_out') }}">Log Out</a>
            </div>
            <div class="banner-headline middle-headline not-displayed personal-headline"><h2>{{ user.first_name + " " + user.last_name | title }}'s Avatar</h2></div>
            <div class="image-layout profile-layout" id="edit-layout">
                <h4><label for="uploaded-image">Upload New Avatar:</label></h4>
                <input type="file" id="uploaded-image" name="profile_picture">
                <div>
                    <img id="current-edit-image" src="{{ base_url.profile + user.profile_picture }}" alt = "{{ user.profilepic_alt }}">
                    <img id="image-preview" class="not-displayed" src="{{ url_for('static', filename='images/general-assets/quesbunnyright.svg') }}" alt="This is the preview of the uploaded user avatar">
                </div>
                <div id="remove-picture" class="profile-pic-remove">
                    <label for="delete_image">Generate Random Avatar: </label>
                    <input type="checkbox" id="delete_image" name="delete_image">
                </div>
                <div id="dream-image-uploads">
                    <div id="profile-pic-cancel" class="cancel-dream-image not-displayed">Cancel Upload</div>
                </div>
            </div>
        </div>        
        <div class="banner-headline personal-headline"><h2>{{ user.first_name + " " + user.last_name | title }}'s Interests</h2></div>
        <div id="interests-section">
            {% with categories = categories_two %}
            {% if categories %}
            <div class="show-additional category-edit-mofew not-displayed" id="show-more"><i class="fa-solid fa-arrow-down"></i> Show More Categories <i class="fa-solid fa-arrow-down"></i></div>
            {% endif %}
            {% endwith %}
            
            {% with categories = categories_custom %}
            {% if categories %}
            <div class="show-additional category-edit-mofew" id="show-all"><i class="fa-solid fa-arrow-down"> </i> Show All Categories <i class="fa-solid fa-arrow-down"></i></div>
            {% endif %}
            {% endwith %}
            <div id="show-fewer" class="show-fewer-style category-edit-mofew"><i class="fa-solid fa-arrow-up"></i> Show Fewer Categories <i class="fa-solid fa-arrow-up"></i></div>
            {% with categories = categories_one %}
            {% if categories %}
            {% for category in categories %}
            <div class="category-selector category-initial" id = "{{category.category}}">{{ category.category}}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% with categories = categories_two %}
            {% if categories %}
            {% for category in categories %}
            <div class="category-selector categories-two category-initial" id = "{{category.category}}">{{ category.category}}</div>
            {% endfor %}                    
            {% endif %}
            {% endwith %}

            {% with categories = categories_custom %}
            {% if categories %}
            {% for category in categories %}
            <div class="category-selector categories-custom category-initial" id = "{{category.category}}">{{ category.category}}</div>
            {% endfor %}                            
            {% endif %}
            {% endwith %}                
        </div>
        <div id="profile-edit-buttons" class="edit-buttons">
            <button id="create-dream" type="submit" class="create-button edit-button">Submit Changes</button>
            <a id="abandon" class="abandon-button abandon-edit-button" href="{{ url_for('profile_personal') }}">Clear Changes</a>
        </div>                
    </form>
</div> 
{% endblock content %}