{% extends 'plain-template.html' %}

{% block title %}
    Hopes and Dreams - Enter New Password
{% endblock title%}
    
{% block content %}
<div class="other-page">
    
    <form action="{{ url_for('reset_password', token=token) }}" method="POST" name="reset-password">
        <div class="headline-wrapper" id="welcome-headline"><h1>Enter New Password</h1></div>     
        <div class="container-other">
            <div class="sun-reset"><img src="{{ url_for('static', filename='images/general-assets/sun-naked.svg') }}" alt="A bright yellow line drawing of a sun"></div>
            <div class="password-reset">
                <h3>Please enter your new password.</h3>
                <div class="sun-reset-middle not-displayed"><img src="{{ url_for('static', filename='images/general-assets/sun-naked.svg') }}" alt="A bright yellow line drawing of a sun"></div>
                <table class="form-table">
                    <tr>
                        <td><label for="password">New password: </label></td>
                        <td><input type="password" id="password" name="password" required></td>
                    </tr>
                </table>
                <small>Passwords must contain a capital letter, a number and be at least 8 characters in length.</small>
            </div>
            <div class="sun-reset"><img src="{{ url_for('static', filename='images/general-assets/sun-naked.svg') }}" alt="A bright yellow line drawing of a sun"></div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class= "{{ category }} other-flash" id="large-flash">
                        <div>
                            <h3>{{ message }}</h3>
                        </div>
                    </div>
                {% endfor %} 
            {% endif %}
        {% endwith %}
        <div id="welcome-exit-buttons">
            <button id="reset-submit" class="exit-button" type="submit">Reset Password</button>
            <a id="home-exit" class="exit-button" href="{{ url_for('home') }}">Return to Homepage</a>
        </div>
    </form>
</div>

        
{% endblock content%}