<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <script src="https://kit.fontawesome.com/8c1ab874f9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4>{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('reset_password', token=token) }}" method="POST" name="reset-password">
            <div id="reset-one">
                <h1>Please enter your new password.</h1>            
                
                <label for="password">New password</label><input type="password" id="password" name="password" required>
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </body>
</html>