{% extends 'plain-template.html' %}

{% block title %}
    Password Reset
{% endblock title%}
    
{% block content %}
        <form action="{{ url_for('reset_password', token=token) }}" method="POST" name="reset-password">
            <div id="reset-one">
                <h1>Please enter your new password.</h1>            
                
                <label for="password">New password</label><input type="password" id="password" name="password" required>
                <button type="submit">Reset Password</button>
            </div>
        </form>
{% endblock content%}