{% extends 'plain-template.html' %}

{% block title %}
    Hopes and Dreams - Sign Up
{% endblock title%}
    
{% block content %}
<div id="signup-container"></div>
    <div id="signup-section">
        <div id="headline-wrapper"><h1>First tell us who you are!</h1></div>
        <form action="{{ url_for('signup') }}" method="POST" name="signup-form" id="signup-form">
            <div id="signup-one">
                <table class="form-table">
                    <tr>
                        <td class="label"><label for="first_name">First Name: </label></td>
                        <td><input type="text" id="first_name" name="first_name" required></td>
                    </tr>
                    <tr>
                        <td class="label"><label for="last_name">Last Name: </label></td>
                        <td><input type="text" id="last_name" name="last_name" required></td>
                    </tr>
                    <tr>
                        <td class="label"><label for="email">e-mail address: </label></td>
                        <td><input type="email" id="email" name="email" required></td>
                    </tr>
                    <tr>
                        <td class="label"><label for="password">Password: </label></td>
                        <td><input type="password" id="password" name="password" required></td>
                    </tr>                
                </table>               
                <div id="interests-section">
                    <h2 id="interests-heading">
                        If you like, you can tell us a bit about the things you want to see.
                    </h2>
                    <p>Just click what you are interested in, and then confirm.
                    <br>Or if you prefer, don't click anything at all!</p>
                    <div>
                        CATEGORIES
                    </div>
                    <button type="submit" for="signup-form">Create User</button>
                </div>         
            </div>
        </form>
        <div id="form-end"></div>
            <h3 class="red-text not-displayed" id="form-alert"></h3>
            <a id="abandon" href="{{ url_for('abandon_signup') }}">Abandon signup</a>
        </div>
    </div>    
</div>
{% endblock content%}