{% extends 'plain-template.html' %}

{% block title %}
    Hopes and Dreams - Sign Up
{% endblock title%}
    
{% block content %}
<div id="dreambuild-container">
    <div class="headline-wrapper" id="create-wrapper"><h1>Create Your Profile</h1></div>
    <div class="dreambuild-form">
        <form action="{{ url_for('signup') }}" method="POST" name="signup-form" id="signup-form">
            <div class="banner-headline personal-headline"><h2>Personal Information</h2></div>
            <input type="text" id="selected-categories" class="absolutely-hidden" name="selected-categories">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class= "{{ category }} signup-flash" id="large-flash">
                            <div>
                                <h3>{{ message }}</h3>
                            </div>
                        </div>
                    {% endfor %} 
                {% endif %}
            {% endwith %}
            <div class="personal-section">
                <div id="bunny-left">
                    <img src="{{ url_for('static', filename='images/general-assets/quesbunnyright.svg') }}" alt="a line drawing of a bunny with a question mark over its head, facing right">
                </div>
                <div class="signup-table">
                    <table class="form-table">
                        <tr>
                            <td class="label"><label for="first_name">First Name: </label></td>
                            <td><input type="text" id="first_name" name="first_name" required></td>
                        </tr>
                        <tr>
                            <td class="label"><label for="last_name">Last Name: </label></td>
                            <td><input type="text" id="last_name" name="last_name" required></td>
                        </tr>
                        <tr>
                            <td class="label"><label for="email">e-mail: </label></td>
                            <td><input type="email" id="email" name="email" required></td>
                        </tr>
                        <tr>
                            <td class="label"><label for="password">Password: </label></td>
                            <td><input type="password" id="password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])\S{8,}" name="password" required></td>
                        </tr>        
                    </table>
                    <small>Passwords must contain a capital letter, a number and be at least 8 characters in length.</small>
                </div>
                <div id="bunny-right">
                    <img src="{{ url_for('static', filename='images/general-assets/quesbunnyleft.svg') }}" alt="a line drawing of a bunny with a question mark over its head, facing left">
                </div>
            </div>
            <div id="journey-buttons" class="signup-buttons">
                <button type="submit" class="create-button" form="signup-form">Create Profile</button>
                <a id="abandon" class="abandon-button" href="{{ url_for('abandon_signup') }}">Abandon signup</a>               
            </div>
        </form>        
    </div>    
</div>
{% endblock content%}