{% extends 'plain-template.html' %}

{% block title %}
    Hopes and Dreams - Sign Up
{% endblock title%}
    
{% block content %}
    
    <div id="welcome-container">
        
        <div id="explore">
            <h1>Welcome {{ user.first_name | capitalize }}!</h1>         
            <h3>You are now ready to explore the Dreamscape</h3>
            <p>The Dreamscape is where you will find hopes, dreams and aspirations.
                <br>It is a thrilling and uplifting place.
            </p>
            <p>Each dream you see is special to someone.</p>
                <p>Perhaps you can help
                    <br>Perhaps you can encourage
                    <br>Perhaps you just want to see how they get along
                </p>
            </p>
            <p>Or perhaps you want to form your own Hopes and Dreams?</p>
            <a href="{{url_for('dreamscape')}}">Please... take me to this place</a>
        </div>
    </div>
{% endblock content%}